{% extends 'landing/base/base.html' %}
{% load i18n %}
{% load static %}
{% load config %}

{% block content %}
    <h1>{% block title %}Unilot White Paper{% endblock %}</h1>
    <!-- Dirty trick I know -->
    <section class="hidden"></section>

    <section class="client">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Abstract</h2><span>Abstract</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>Unilot uses blockchain to run a decentralized universal gambling platform for
                        players to bet, host, and in future create their own games ranging from pure
                        chance lotteries, to poker tournaments, and prognostication-based totalizers.
                        We are working to make Unilot available on the Web, iOS and Android and in
                        multiple languages in addition to current English and Russian.</p>
                    <br/>
                    <p>To facilitate the exchange, Unilot platform transacts in its own currency
                        “Unilots” while accepting most cryptocurrencies and other legal means of
                        tender in appropriate jurisdictions. The purpose of this White Paper is to
                        demonstrate Unilot’s technology and solutions it offers, as well as demonstrate
                        the mature business expertise behind the founding team’s vision.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="{% static 'landing/img/client.png' %}" alt="Unilot">
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Introduction</h2><span>Introduction</span>
                    </div>
                </div>
                <div class="col-md-10">
                    <p>With online gambling market projected to reach nearly $60B by 2020, both the
                        quickly-evolving regulatory landscape and criminal practices turn away consumers
                        reducing their trust and peace of mind. Here at Unilot, we made it our strategic
                        priority to successfully tackle regulatory limitations that vary drastically from one
                        jurisdiction to another, and mitigate consumer mistrust.</p>
                    <p>To deal with regulations, games offered through Unilot will vary based on the player's
                        geographic location. We are building an intelligent system capable of detecting which
                        games to offer and which ones to lock. Furthermore, Unilot continues to secure
                        licenses in various jurisdictions to expand its user-base.</p>
                    <p>Unilot leverages decentralized gaming on blockchain to effectively address consumer
                        mistrust, featuring some core fair-play fundamentals:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <ul style="list-style: circle;">
                                <li><p>Unilot runs on Smart Contacts to
                                    keep games’ records open and
                                    transparent and players’ funds in
                                    independent escrow, outside Unilot’s
                                    reach</p>
                                </li>
                                <li><p>Unilot explicitly eliminated the
                                    possibility of having a view access to
                                    the deck, thus preventing so-called
                                    "God Mode" that plagued online
                                    gaming industry for years.</p>
                                </li>
                                <li><p>Our goal is to reinvigorate online
                                    gambling with Ethereum blockchain,
                                    radically improving end-user
                                    experience through player-self-man-
                                    aged identification, absurdly low fees,
                                    and inviolable guarantee of instant
                                    pay on winnings.</p>
                                </li>
                            </ul>
                            <div>
                                <p><sup>1</sup>See more detailed summary and explanation to figures at:<br/>
                                    <a href="https://www.statista.com/statistics/270728/market-vol-ume-of-online-gaming-worldwide/"
                                       target="_blank">
                                        https://www.statista.com/statistics/270728/market-vol-ume-of-online-gaming-worldwide/
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'landing/img/sentence.png' %}" alt="Unilot"
                                 style="height: 100%; width: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Market & Industry</h2><span>Market & Industry</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <p>Online gambling industry has been plagued by inability to tackle high tech
                        cheating and lack of transparency. To name a few, 2008 and 2011 online poker
                        scandals led to online gambling bans in some countries.</p>
                    <p>Though it was off to a rocky start, online gambling is well poised to become the
                        gambling industry’s fastest-growing sector, and accounts for 11% of the $385B
                        of gambling profits posted in 2016. These numbers are only set to grow as reg-
                        ulations worldwide are loosening their stance toward online betting.</p>
                    <p>According to H2 Gambling Capital, total revenues in 2016 from online gambling
                        posted staggering $44B with online betting responsible for nearly a half of the
                        total amount. Market projections show this number to grow to $47.4 Billion
                        USD in 2017 and over $60 billion by 2020.</p>

                    <img src="{% static 'landing/img/function-3.png' %}" alt="Unilot"
                         style="width: 100%; height: auto;">

                    <div class="function">
                        <p>
                        <ul>
                            <li>$2 Bingo <span class="purple"></span></li>
                            <li>$2.2 Logical <span class="blue"></span></li>
                            <li>$2.75 Poker <span class="green"></span></li>
                            <li>$3.85 Lottery <span class="lilac"></span></li>
                            <li>$11.8 Casino <span class="yellow"></span></li>
                            <li>$21.4 Betting <span class="blue"></span></li>
                            <li><strong>Total:</strong> $44</li>
                        </ul>
                        </p>
                    </div>

                    <p>Unilot is designed with a product diversity in mind. Its platform will feature a
                        broad range of gambling venues from specific games to prognostication-based
                        betting in compliance with specific jurisdiction regulations on games and cur-
                        rencies. Unilot mobile client already comes with a fully functional lottery. Next
                        games slated for rollout are Poker and Bingo.</p>
                    <p>Unilot aims to get licensed in every jurisdiction open to online gambling & and
                        lottery as it expands its user-base. Unilot launch will include licensing from
                        Malta Remote Gaming License on March 2018<br/>
                        <a href="http://www.mga.org.mt/gaming-sectors/remote-gaming/" target="_blank">http://www.mga.org.mt/gaming-sectors/remote-gaming/</a>
                    </p>
                    <div class="row">
                        <div class="col-xs-4" style="z-index: 10;">
                            <img src="{% static 'landing/img/unilot-power-2-1.png' %}" alt="Unilot"
                                 style="width: 100%; height: auto; top: 10%; position: relative;"/>
                        </div>
                        <div class="col-xs-4" style="z-index: 20;">
                            <img src="{% static 'landing/img/unilot-power-1.png' %}" alt="Unilot"
                                 style="width: 140%; height: auto; right: 20%; position: relative;"/>
                        </div>
                        <div class="col-xs-4" style="z-index: 10;">
                            <img src="{% static 'landing/img/unilot-power-2-2.png' %}" alt="Unilot"
                                 style="width: 100%; height: auto; top: 15%; position: relative;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Product Details</h2><span>Product Details</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <p>Unilot is a decentralized gaming platform with focus on transparency and se-
                        curity. Unilot client runs iOS and Android mobile apps offered through multiple
                        languages (starting with English, Chinese, Russian etc)</p>
                    <p>After Unilot’s launch, players should expect the following games:</p>
                    <ul style="list-style: circle;">
                        <li>Lottery</li>
                        <li>Poker</li>
                        <li>Bingo</li>
                        <li>Social betting</li>
                        <li>Auction</li>
                        <li>Casino</li>
                    </ul>
                </div>
            </div>
            <h3 style="z-index: 10;">Unilot Features & Benefits</h3>
            <div class="row">
                <div class="col-md-2" style="z-index: 10;">
                    <img src="{% static 'landing/img/02.svg' %}" alt="Unilot"
                         style="width: 90px; height: 90px;"/>
                </div>
                <div class="col-md-8">
                    <p>Elimination of deposit risk: player retains a full custody over
                        their funds until the game outcome. Instead of landing into
                        any of Unilot-controlled accounts, the funds are directed into
                        an independent Escrow on Smart Contract that distributes the
                        proceeds according to game rules and outcomes</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="z-index: 10;">
                    <img src="{% static 'landing/img/05.svg' %}" alt="Unilot"
                         style="width: 90px; height: 90px;"/>
                </div>
                <div class="col-md-8">
                    <p>Gameplay fairness and transparency is achieved with having
                        all players at table reaching a consensus done on blockchain
                        network. Actions like card shuffling occur with all the players
                        involved. Game play is recorded on blockchain ledger ensuring
                        an unparalleled integrity.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="z-index: 10;">
                    <img src="{% static 'landing/img/01.svg' %}" alt="Unilot"
                         style="width: 90px; height: 90px;"/>
                </div>
                <div class="col-md-8">
                    <p>Since the games run on peer-to-peer blockchain and smart
                        contracts, Unilot completely eliminates any access to individ-
                        ual player’s cards. Players’ cards are only visible to the players
                        themselves.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="z-index: 10;">
                    <img src="{% static 'landing/img/03.svg' %}" alt="Unilot"
                         style="width: 90px; height: 90px;"/>
                </div>
                <div class="col-md-8">
                    <p>Unilot is all about a more balanced and fair gambling network.
                        Using Ethereum network and Ethereum smart contracts elimi-
                        nates costly server hosting fees and disputes arising from han-
                        dling players’ funds. The savings are passed on to the players.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10" style="z-index: 10;">
                    <h3>Unilot Games</h3>
                    <p>Unilot mobile client features two modes available to players: Global & Hosted
                        Games.</p>
                    <h3>Global Games</h3>
                    <p>All global games offered are open to anyone on Unilot platform meeting indi-
                        vidual local jurisdiction requirements. Games will include minimum pot size
                        before game starts, multiple or single winner settings.</p>
                    <h3>Hosted Games</h3>
                    <p>In line with Unilot’s mission, hosting games will allow players to generate their
                        own income by hosting their own games on Unilot platform. Players may set
                        their minimum ante, game type and invite others to participate. Games are by
                        invite-only and otherwise remain invisible to global community.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row" style="">
                        <div class="col-md-6">
                            <p style="position: relative; top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);">
                                Hosting functionality is what makes
                                Unilot truly stand out from most on-
                                line lotteries by creating a comprehen-
                                sive platform for current and future
                                peer-betting venues.
                                Currently, players can host any of the
                                available global games, like running
                                their own poker tournament, setting
                                out their own rules, minimum pot
                                size, their own “host’s cut”. In the near
                                future, using smart contracts and
                                oracles, Unilot players should be able
                                to create their own betting pools and
                                totalizers.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'landing/img/unilot-platform.png' %}" alt="Unilot"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Unilot Business Model</h2><span>Unilot Business Model</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <h3>Primary Revenue Generation Model</h3>
                    <p>For all available global games, Unilot retains a tiny fraction of game winnings
                        and game antes where games have an an ante or entry fee. Unilot also retains
                        a small percentage every time Unilots are exchanged; those proceeds are then
                        distributed among Unilot token holders based on proof-of-stake mechanism.</p>
                    <p>For hosted games and white label games Unilot collects a setup fee or offers
                        service level agreement to larger hosts. In certain instances, owners of hosted
                        games and white label companies (the originators) when spinning off their own
                        games may want to have Unilot owners (the backers) auction, loan, or put forth
                        their own Unilots to fully or partially fund those hosted games. In exchange,
                        the backers may receive additional revenues or incentives from the originators
                        even if the backers don’t end up playing that particular game.</p>
                    <p>Regardless of the arrangement, the fees Unilot retains in global games or as
                        part of setup fees in white label and hosted games are seamless, transparent
                        and not interrupting to the gaming process.</p>
                    <h3>Secondary Revenue Generation Models</h3>
                    <p><strong>Advertising Revenues</strong><br/>
                        To recognize and incentivize random or most valued players, Unilot intends to
                        raffle tokens as well as physical prizes. Unilot is actively building partnerships
                        with advertisers interested in promoting products, brands, and causes through
                        product placements. Unilot aims to market product placement opportunities
                        and calculate advertising fees based on the audience’s geographic and demo-
                        graphic parameters.</p>
                    <p>Faithful to its mission to further fairness and common benefit, Unilot intends
                        to not only run commercial product placements, but also provide a centerstage
                        for philanthropic causes, including fundraisers for meaningful social causes.</p>
                    <p><strong>Affiliate Marketing</strong><br/>
                        Like any platform that benefits from active market participation, Unilot has ac-
                        tive plans to implement traditional affiliate marketing programs. Those would
                        include incentivising and rewarding referrals, reviews offered by content provid-
                        ers, and introduction of miscellaneous individual and institutional investment
                        prospects.</p>
                    <p><strong>Additional Merchandising</strong><br/>
                        Unilot recognizes the value and opportunity of engaging global audiences and
                        making play easy and fun. Being able to accept conventional currencies is a
                        major part of this solution, as many people worldwide are still poorly familiar
                        with concept of cryptocurrencies. Aiming to encourage the use of its platform
                        for individual betting and create a strong global and diverse presence, Unilot
                        currently develops the feature that allows accepting funds in local currencies
                        placed on physical and digital gift cards. Such gift cards can be sold through-
                        out small retail places and used by their recipients as conventional lottery
                        tickets.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Technology & Transparency</h2><span>Technology & Transparency</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <h3>Unilot Gameplay Logistics:</h3>
                    <p><strong>Smart Contracts</strong><br/>
                        Use of smart contracts on Ethereum network significantly simplifies running
                        the games, their integrity, and inviolability of their outcome. Some basic exam-
                        ples of those Smart Contracts can run ladders in tournaments or sets of indi-
                        vidual table rules like seat assignments, escrowing funds, and distribution of
                        payouts.</p>
                    <p><strong>Identity Management</strong><br/>
                        Through its smart geosensing and public anonymity achievable on blockchain,
                        Unilot provides an intelligent solution to the dilemma of user privacy and legali-
                        ty in user identity management.</p>
                    <p>Part of our commitment to providing quality gaming network, includes embed-
                        ding of solutions like uPort or similar options as they become available. We
                        very well know that a good game should not be interrupted by bots, fake ac-
                        counts, and other unwanted spam. Therefore security and great uninterrupted
                        experience are on the top of our priority list.</p>
                    <p><strong>Gameplay Consensus, Client Synchronization, and Log Storage</strong><br/>
                        Unilot uses Mental Poker algorithm that produces a consensus through a Byz-
                        antine Fault Tolerant Consensus Mechanism for games that require shuffling.
                        Simultaneously, peer-to-peer messaging ensures game’s critical-and-sufficient
                        synchronization across multiple mobile clients. For all in-game activity, Unilot
                        runs a time-series log stored on IPFS for both compliance and technical pur-
                        poses.</p>
                    <p><sup>3</sup><a href="https://www.uport.me/" target="_blank">
                        https://www.uport.me/</a></p>
                    <p><strong>Unilot Business Intelligence Suite</strong><br/>
                        Truthful to our mission, we design Unilot to become a truly global gambling
                        and betting platform transcending geographic and demographic barriers to
                        cater a unique personalized experience to every player. The use of Ethereum
                        network and smart contracts yields a transparent record of game results data,
                        which we deliberately keep open for public to review and analyze.</p>
                    <p>Parallel to data produced on main stack, we are also building Unilot Artificial
                        Intelligence solution to observe systems performance and improve user experi-
                        ence. AI’s mission is to help users feel informed and empowered with best rele-
                        vant data, like gaming odds, curated interpretation of gaming trends, or provide
                        assistant functions to UI.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Unilot Mobile Wallet & Gaming client</h2><span>Unilot Mobile Wallet & Gaming client</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <p>All Unilot global or hosted games can be run on Unilot mobile client, specifically
                        designed to handle all components of peer-to-peer communication from initiat-
                        ing and joining games to performing the required blockchain actions, like using
                        a Mental Poker protocol for cards shuffling. Unilot mobile client also runs a so-
                        called light wallet to facilitate escrow, ensure instant payout on winnings, and
                        keep game ante and wins separate from player’s stash. In subsequent releases,
                        light wallet would also offer instant conversion feature to other cryptocurren-
                        cies from Unilots.</p>
                    <p>Currently, the mobile client is built for iOS and Android only, and offers smart region selection
                        and localization.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img src="{% static 'landing/img/unilot-platform-front.png' %}" alt="Unilot"
                         style="z-index: 20; position: relative;"/>
                </div>
            </div>
        </div>
    </section>
    {% include 'landing/includes/roadmap.html' %}
    <section class="whitepaper" style="padding-bottom: 0;">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Token sale</h2><span>Token sale</span>
                    </div>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <h3>Presale stage</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td width="25%"><strong>Start Date</strong></td>
                            <td>January 10th, 2017, at 12:00 PM New York / 16:00 UTC / 17:00
                                London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00
                                Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>End Date</strong></td>
                            <td>February 10th, 2018, at 12:00 PM New York / 16:00 UTC /
                                17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai /
                                00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Token Sale Cap</strong></td>
                            <td>25.000.000 UNIT tokens</td>
                        </tr>
                        <tr>
                            <td><strong>Currency Accepted</strong></td>
                            <td>ETH</td>
                        </tr>
                        <tr>
                            <td><strong>Bonus</strong></td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td><strong>Exchange Rate</strong></td>
                            <td>1 ETH = 12.727 UNIT Tokens + (40% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Minimum Transaction</strong></td>
                            <td>1 UNIT Tokens (0.000079 ETH)</td>
                        </tr>
                        <tr>
                            <td><strong>Maximum Transaction</strong></td>
                            <td>381.810 Tokens (30 ETH)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <h3>ICO Stage 1</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td width="25%"><strong>Start Date</strong></td>
                            <td>February 15th, 2017, at 12:00 PM New York / 16:00 UTC /
                                17:00 London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai /
                                00:00 Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>End Date</strong></td>
                            <td>March 15th, 2018, at 12:00 PM New York / 16:00 UTC / 17:00
                                London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00
                                Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Token pre-sale 1</strong></td>
                            <td>5.000.000 UNIT tokens + (35% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Token pre-sale 2</strong></td>
                            <td>5.000.000 UNIT tokens + (30% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Token pre-sale 3</strong></td>
                            <td>5.000.000 UNIT tokens + (25% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Token pre-sale 4</strong></td>
                            <td>5.000.000 UNIT tokens + (20% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Token Sale Cap</strong></td>
                            <td>122.500.000 UNIT tokens</td>
                        </tr>
                        <tr>
                            <td><strong>Currency Accepted</strong></td>
                            <td>ETH</td>
                        </tr>
                        <tr>
                            <td><strong>Exchange Rate</strong></td>
                            <td>1 ETH = 12.727 UNIT Tokens + (40% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Minimum Transaction</strong></td>
                            <td>1 UNIT Tokens (0.000079 ETH)</td>
                        </tr>
                        <tr>
                            <td><strong>Maximum Transaction</strong></td>
                            <td>381.810 Tokens (30 ETH)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10" style="z-index: 10;">
                    <h3>ICO Stage 2</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td width="25%"><strong>Start Date</strong></td>
                            <td>April 20th, 2017, at 12:00 PM New York / 16:00 UTC / 17:00
                                London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00
                                Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>End Date</strong></td>
                            <td>May 20h, 2018, at 12:00 PM New York / 16:00 UTC / 17:00
                                London / 17:00 CET / 19:00 Moscow / 21:30 Mumbai / 00:00
                                Shanghai, UTC +8 / 01:00 Tokyo, UTC +9
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Token Sale Cap</strong></td>
                            <td>142.500.000 UNIT tokens</td>
                        </tr>
                        <tr>
                            <td><strong>Currency Accepted</strong></td>
                            <td>ETH</td>
                        </tr>
                        <tr>
                            <td><strong>Exchange Rate</strong></td>
                            <td>1 ETH = 12.727 UNIT Tokens + (40% bonus)</td>
                        </tr>
                        <tr>
                            <td><strong>Minimum Transaction</strong></td>
                            <td>1 UNIT Tokens (0.000079 ETH)</td>
                        </tr>
                        <tr>
                            <td><strong>Maximum Transaction</strong></td>
                            <td>381.810 Tokens (30 ETH)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {% include 'landing/includes/token-distribution.html' %}
    {% trans 'The Project Team' as team_title %}
    {% include 'landing/includes/team_members.html' with team_title=team_title %}
    {% trans 'Advisery Board' as advisors_title %}
    {% include 'landing/includes/advisors.html' with advisors_title=advisors_title %}
{% endblock %}