{% load static %}
{% load i18n %}
{% load social_links %}
{% load martortags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <title>Unilot | {% block title %}{% trans 'Initial Coin Offering Pre-sale' %}{% endblock %}</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/css/main.min-a6d6429c55c53d7b426720e3238aa04d.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'landing/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'landing/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landing/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'landing/img/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'landing/img/favicons/safari-pinned-tab.svg' %}" color="#ed9935">
    <meta name="apple-mobile-web-app-title" content="Unilot">
    <meta name="application-name" content="Unilot">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:site_name" content="Unilot" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Unilot | {% trans 'Initial Coin Offering Pre-sale' %}" />
    <meta property="og:description" content="Unilot is a decentralized gambling platform which allows players to play and host online games like poker tournaments, lottery and many other games. Unilot will be available through mobile apps on iOS and Android platforms and transact using Unilots as it’s main currency." />
    <meta property="og:url" content="https://unilot.io" />
    <meta property="og:image" content="https://unilot.io{% static 'landing/img/unilot-share-cover.png' %}" />
    <meta property="article:publisher" content="https://www.facebook.com/unilot.io/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Unilot | Initial Coin Offering Pre-sale" />
    <meta name="twitter:description" content="Unilot is a decentralized gambling platform which allows players to play and host online games like poker tournaments, lottery and many other games. Unilot will be available through mobile apps on iOS and Android platforms and transact using Unilots as it’s main currency." />
    <meta name="twitter:url" content="https://unilot.io" />
    <meta name="twitter:image" content="https://unilot.io{% static 'landing/img/unilot-share-cover.png' %}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE|slice:":2"|lower }}_{{ LANGUAGE_CODE|slice:"-2:"|upper }}" />
    {% for lang_code,lang_name in LANGUAGES %}
    {% if lang_code != LANGUAGE_CODE %}
    <meta property="og:locale:alternate" content="{{ lang_code|slice:":2"|lower }}_{{ lang_code|slice:"-2:"|upper }}" />
    {% endif %}
    {% endfor %}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-md-2 col-sm-12 col-xs-6 start-md center-xs">
                <div class="header__logo">
                    <div class="top-line-anchor">
                        <div class="sticky-element" id="sticky">
                            <div class="sticky-anchor"></div>
                            <div class="sticky-content">
                                <div class="menu-open"><a id="btn" href="#menu"><span></span></a></div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'landing:index' %}"><img src="{% static 'landing/img/logo-header.svg' %}"
                                                             alt="Unilot logo"></a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="flex around-xs" id="link">
                    <li><a href="#whatIsUnilot">What is Unilot</a></li>
                    <li><a href="#whitePaper">White Paper</a></li>
                    <li><a href="#unilotBenefits">Unilot Features</a></li>
                    {% if faqs_total > 0 %}
                        <li><a href="#faq">FAQ</a></li>{% endif %}
                    {% if roadshow_list %}
                        <li><a href="#roadshow">Upcoming Events</a></li>{% endif %}
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-6">
                <div class="header__left">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="header__left__lng">
                                {% include 'landing/includes/language_menu.html' %}
                            </div>
                        </div>
                        {% if is_pre_ico %}
                            <div class="col-md-8 col-xs-12 start-md center-xs">
                                <div class="header__left__btn">
                                    <a class="btn" href="{{ contribute_url }}">{% trans 'Contribute Now' %}</a>
                                    <a class="btn none" href="{{ contribute_url }}">{% trans 'Contribute' %}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="slideout-menu slideout-menu-right" id="menu">
    <div class="menu-close"><span></span></div>
    <div class="row">
        <div class="col-xs-12" id="link-1">
            <ul>
                <li><a href="#whatIsUnilot" class="font-roboto-light-18-px">What is Unilot</a></li>
                <li><a href="#unilotBenefits" class="font-roboto-light-18-px">Unilot Features</a></li>
                <li><a href="#mobileClient" class="font-roboto-light-18-px">Mobile Client</a></li>
                <li><a href="#roadmap" class="font-roboto-light-18-px">Roadmap</a></li>
                <li><a href="#tokenomics" class="font-roboto-light-18-px">Use of funds</a></li>
                <li><a href="#whitePaper" class="font-roboto-light-18-px">White Paper</a></li>
                {% if advisors_list %}
                    <li><a href="#advisors" class="font-roboto-light-18-px">{% trans 'Advisors' %}</a></li>{% endif %}
                {% if team_members_list %}
                    <li><a href="#team" class="font-roboto-light-18-px">Team</a></li>{% endif %}
                {% if publications_list %}
                    <li><a href="#publications" class="font-roboto-light-18-px">{% trans 'Publications' %}</a>
                    </li>{% endif %}
                <li><a href="#partners" class="font-roboto-light-18-px">Partners</a></li>
                <li><a href="#newsletter" class="font-roboto-light-18-px">Newsletter</a></li>
                {% if faqs_total > 0 %}
                    <li><a href="#faq" class="font-roboto-light-18-px">FAQ</a></li>{% endif %}
                {% if roadshow_list %}
                    <li><a href="#roadshow" class="font-roboto-light-18-px">Upcoming Events</a></li>{% endif %}
                {% if is_pre_ico %}
                    <li><a href="{{ contribute_url }}">{% trans 'Contribute Now' %}</a></li>
                {% endif %}
                <li>
                    {% include 'landing/includes/language_menu.html' %}
                </li>
            </ul>
            <div class="unilot">
                <div class="row">
                    <div class="col-xs-5"><img src="{% static 'landing/img/logo.svg' %}" alt="">
                        <p>Become an investor and take part in a closed testing of MVP (Unilot app for Android and
                            iOS).</p>
                        {% if is_app_public %}
                            <a href="#">App Store<img src="{% static 'landing/img/apple.svg' %}" alt=""></a>
                            <a href="#">Google Play<img src="{% static 'landing/img/google-play.svg' %}" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="col-xs-7"><img src="{% static 'landing/img/sentence.png' %}" alt=""></div>
                </div>
            </div>
            <div class="social">
                <a href="{% github_organization %}" target="_blank"><i class="icon-github"></i></a>
                <a href="{% telegram_channel %}" target="_blank"><i class="icon-telegram"></i></a>
                <a href="{% medium_blog %}" target="_blank"><i class="icon-medium"></i></a>
                <a href="{% reddit_url %}" target="_blank"><i class="icon-reddit"></i></a>
                <a href="{% twitter_channel %}" target="_blank"><i class="icon-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="slideout-panel slideout-panel-right" id="panel">
    {% block content %}{% endblock %}
</div>
<script src="{% static 'landing/js/main.min-a452224d4e689fe5d3615a11f008ba31.js' %}"></script>
{% include 'landing/includes/analytics.html' %}
{% include 'landing/includes/chartra.html' %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a56b52d56f967df" async></script>
{% include 'landing/includes/adroll.html' %}
</body>
</html>