<h3>Change password</h3>
<form class="js-generic-form" id="changePassword" role="form" data-toggle="validator"
      action="{% url 'cp:password-change' 'json' %}" method="patch"
      data-url="{% url 'cp:auth' 'html' %}">
    {% csrf_token %}
    {% include 'cp/partials/form-overlay.html' %}
    {% include 'includes/form-alert.html' %}
    <div class="form-group label-floating"><label class="control-label"
                                                  for="currentPassword">Current
        password</label><input class="form-control" id="currentPassword"
                               type="password" name="current_password" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group label-floating"><label class="control-label"
                                                  for="newPassword">New
        password</label><input class="form-control" id="newPassword" type="password"
                               name="password" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group label-floating"><label class="control-label"
                                                  for="repeatPassword">Repeat new
        password</label><input class="form-control" id="repeatPassword"
                               type="password" name="password_repeate"
                               data-match="#newPassword" required>
        <div class="help-block with-errors"></div>
    </div>
    <button class="btn btn-default btn-lg btn-block" role="submit">Change password
    </button>
</form>
