{% load static %}
{% load i18n %}
{% load dynamic_content %}
{% load config %}
<div class="modal fade" id="buyUnitTokens" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content no-padding">
            <div class="modal-header img-horizontal bordered"><img class="modal-title-img img-lock"
                                                                   src="{% static 'cp/img/lock.png' %}"><h4
                    class="modal-title">{% trans 'Buy UNIT Tokens' %}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span class="close-icon" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <ul class="select-currency nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#ethereum" aria-controls="ethereum" role="tab" data-toggle="tab">
                            <img class="eth" src="{% static 'cp/img/coins/ETH.svg' %}" />
                            Ethereum</a>
                    </li>
                    <li role="presentation">
                        <a href="#bitcoin" aria-controls="bitcoin" role="tab" data-toggle="tab">
                            <img class="btc" src="{% static 'cp/img/coins/BTC.svg' %}" />
                            Bitcoin</a>
                    </li>
                    <li role="presentation">
                        <a href="#litecoin" aria-controls="litecoin" role="tab" data-toggle="tab">
                            <img class="ltc" src="{% static 'cp/img/coins/LTC.svg' %}" />
                            Litecoin
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="litecoin">
                        {% include 'cp/partials/payment-form.html' with currency='LTC' %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bitcoin">
                        {% include 'cp/partials/payment-form.html' with currency='BTC' %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="ethereum">
                        <div class="row no-padding">
                            <div class="col-md-8">
                                <div class="alert alert-flex no-padding" role="alert"><img class="pull-left"
                                                                                           src="{% static 'cp/img/attention.png' %}">
                                    <p>{% trans 'Be sure that you read all the information about Unilot project and token sale carefully' %}</p>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    {% content_text 'modal-buy-token' %}
                                </div>
                                <div class="alert alert-flex no-padding" role="alert"><img class="pull-left"
                                                                                           src="{% static 'cp/img/attention.png' %}">
                                    <p>{% trans 'Please do not send anything other than ETH to the Unilot smart contract and do not send ETH from an Exchange.' %}</p>
                                </div>
                                <div class="row no-padding">
                                    <div class="col-md-4"><img class="qr"
                                                               src="{% static 'cp/img/qr-0xdbf98df5dad90.svg' %}">
                                    </div>
                                    <div class="col-md-8">
                                        <form class="contract-number">
                                            <div class="form-group"><label class="control-label text-uppercase"
                                                                           for="contractNumber">{% trans 'Contract number' %}</label><input
                                                    class="form-control" id="tokenBuyContractNumber" type="text"
                                                    readonly
                                                    name="contract-number" value="{% token_address %}">
                                                <button type="button"
                                                        class="btn btn-lg btn-inverse btn-icon js-buy-tokens-copy-contract-number"
                                                        role="button" tabindex="0" data-toggle="focus"
                                                        data-trigger="focus"
                                                        data-placement="bottom"
                                                        data-content="{% trans 'Contract number copied' %}">
                                                    <span class="glyphicon glyphicon-duplicate"></span><span>{% trans 'Copy contract number' %}</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% include 'cp/partials/calculator.html' with currency="ETH" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
