{% load static %}
{% load i18n %}
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-error modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header img-horizontal">
                <img class="modal-title-img" src="{% static 'cp/img/password-recover.png' %}">
                <h4 class="modal-title">Password recover</h4></div>
            <div class="modal-body js-has-overlay">
                {% include 'cp/partials/form-overlay.html' %}
                <form id="recoverAccessForm" class="js-generic-form" role="form"
                      data-toggle="validator" action="{% url 'cp:recover-access' 'json' %}"
                      method="POST" data-success-message="{% trans 'Check your email' %}">
                    {% csrf_token %}
                    {% include 'includes/form-alert.html' %}
                    <div class="form-group label-floating"><label class="control-label" for="recoverEmail">Enter your
                        email</label><input class="form-control" id="recoverEmail" type="email" required name="email">
                        <div class="help-block with-errors"></div>
                    </div>
                    <button class="btn btn-primary btn-lg center-block" role="submit">Recover</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span>Close </span><span
                        class="close-icon" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>
