{% load i18n %}
{% load static %}
{% load config %}
{% load dynamic_content %}

{% if not user.profile.wallet %}
<div class="modal fade" id="sourceWallet" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-padding">
            <div class="modal-header img-horizontal"><img class="modal-title-img img-lock" src="{% static 'cp/img/lock.png' %}"><h4
                    class="modal-title">{% trans 'Source Wallet' %}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="close-icon"
                                                                                                  aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body js-has-overlay">
                <p>{% trans 'Please specify address of the wallet that will be used to buy UNIT tokens.' %}</p>
                <form id="addSourceWalletForm" class="js-form-no-focus" method="post" action="{% url 'cp:user-wallet' 'json' %}">
                    {% csrf_token %}
                    {% include 'cp/partials/form-overlay.html' %}
                    {% include 'includes/form-alert.html' %}
                    <div class="row no-padding">
                        <div class="col-md-10">
                            <div class="form-group label-floating">
                                <label class="control-label" for="sourceWalletWalletApp">{% trans 'Wallet App' %} <span class="required"></span></label>
                                <span class="caret"></span>
                                <select
                                    class="form-control" id="sourceWalletWalletApp" required name="wallet">
                                <option selected disabled></option>
                                {% get_wallet_apps as wallet_apps %}
                                {% for value, app in wallet_apps %}
                                <option value="{% if value %}1{% else %}0{% endif %}">{{ app }}</option>
                                {% endfor %}
                            </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-12">
                            <div class="alert alert-warning alert-flex" role="alert"><img class="pull-left"
                                                                                          src="{% static 'cp/img/attention.png' %}">
                                <div>{% content_text 'modal-valid-wallets' %}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-10">
                            <div class="form-group disabled label-floating">
                                <label class="control-label" for="sourceWalletWallet">{% trans 'Enter your wallet number' %}
                                    <span class="required"></span></label>
                                <input class="form-control" id="sourceWalletWallet" type="text" name="wallet"
                                       data-wallet="true" required disabled>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg center-block" role="button" type="submit">{% trans 'Confirm' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
