{% load i18n %}

{% if false %}
<section class="beta-invite js-has-overlay">
<form id="beta-invite" class="js-generic-form" method="post"
              action="{% url 'cp:beta-tester' 'json' %}" data-success-replace-template="beta-tester-added"
              style="position: relative;">
    <h3>{% blocktrans %}Take your chance to Win <span class="text-nowrap">100 000</span>
        Tokens in App Beta-Testing{% endblocktrans %}</h3>
    <p>{% blocktrans %}Take part in any drawing and you automatically participate in drawing for price of <span
            class="text-nowrap">100 000</span> UNIT{% endblocktrans %}</p>
        {% csrf_token %}
        {% include 'cp/partials/form-overlay.html' %}
        {% include 'includes/form-alert.html' %}
        <div class="form-group label-floating">
            <label class="control-label" for="beta-id">{% trans 'Email' %}</label>
            <input class="form-control" id="beta-id"
                   type="text" required name="email" value="{{ user.email }}">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <div class="checkbox"><label>
                <input type="checkbox" name="is_android"><span
                    class="checkbox-material"></span>
                <small>{% trans 'Android' %}</small>
            </label><label>
                <input type="checkbox" name="is_ios"><span class="checkbox-ma   terial"></span>
                <small>{% trans 'Apple iOS' %}</small>
            </label></div>
            <div class="help-block with-errors"></div>
        </div>
        <button class="btn btn-primary btn-lg btn-block">{% trans 'Participate' %}</button>

    <p class="text-center">{% blocktrans %}<span class="text-nowrap">Winners will be announced</span> <span
            class="text-nowrap">on March 22<sup>nd</sup>, 2018</span>{% endblocktrans %}</p>
</form>
</section>
{% endif %}
