{% load i18n %}
<section class="calculator"><h3>{% trans 'Calculator' %}</h3>
    <form>
        <div class="form-group"><label for="unit-amount">{% trans '# of UNIT tokens' %}</label>
            <div class="input-group"><input
                    class="form-control input-primary js-calculator-token-amount-input"
                    type="number" placeholder="1" value="1" id="unit-amount"><span
                    class="input-group-btn"><div class="input-group-increment"><button
                    class="btn btn-default btn-increment btn-up js-value-up" type="button"><span
                    class="glyphicon glyphicon-chevron-up"></span></button><button
                    class="btn btn-default btn-increment btn-down js-value-down" type="button"><span
                    class="glyphicon glyphicon-chevron-down"></span></button></div></span></div>
        </div>
        <div class="form-group"><label for="eth-amount">{% trans 'Amount of ETH' %}</label>
            <div class="input-group"><input
                    class="form-control eth-amount js-calculator-eth-amount-input" type="number"
                    value="0.079" id="eth-amount"><span
                    class="input-group-addon">ETH</span></div>
        </div>
        <div class="form-group">
            <div class="horizontal"><label for="purchase-amount">{% trans "You'll receive" %}:</label>
                <output id="purchase-amount"><span
                        class="space-after js-token-amount">10</span><span class="unit">UNIT</span>
                </output>
            </div>
            <div class="horizontal"><label for="bonus-amount"><span
                    class="js-token-total-bonus">40</span>% {% trans 'bonus' %}:</label>
                <output id="bonus-amount"><span
                        class="space-after js-token-bonus-amount">4</span><span
                        class="unit">UNIT</span></output>
            </div>
        </div>
        <div class="form-group output text-center"><label for="total-amount">{% trans 'Total' %}:</label>
            <output class="total-amount" id="total-amount"><span
                    class="space-after js-token-total-amount">14</span><span
                    class="unit">UNIT</span></output>
        </div>
        <hr>
        <div class="form-group output text-center"><label for="usd-amount">
            {% trans 'Approximate $US amount' %}:</label>
            <output class="usd-amount" id="usd-amount"><span class="unit">$</span><span
                    class="js-fiat-total-amount">0.00000952</span></output>
        </div>
    </form>
</section>