{% load static %}
<header>
    <div class="container">
        <div class="row">
            {% include 'cp/partials/navbar.html' %}
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="welcome col-md-7 col-sm-6 hidden-xs"><h3>Welcome, {{ user.first_name }}!</h3>
                    <p>Thank you for participation in our project. This area is your personal account of Unilot token
                        sale.</p></div>
                <div class="tokens-info col-md-5 col-sm-6 col-xs-12"><p class="lead text-right">
                    <a tabindex="0" class="popover-trigger" role="button"
                       data-toggle="popover" data-trigger="toggle" title="Are your tokens not displayed?"
                       data-placement="bottom"
                       data-html="true"
                       data-content="<ul><li>Updating tokens amount may take a while due to Ethereum Network load.</li><li>Check tokens amount at your wallet.</li></ul><br /> <a href='{% url 'landing:faq-html' %}#answer8' class='btn btn-md btn-default' target='_blank'>How to display tokens?</a>">
                        <span class="tokens-question"></span></a>My Tokens: <span class="tokens">
                    {% widthratio user.profile.token_balance 1000000000000000000 1 as num_tokens %}
                    <strong class="tokens-amount">{% if num_tokens %}{{ num_tokens|floatformat:6 }}{% else %}
                        0{% endif %}</strong> UNIT</span></p>
                    <p class="text-right">Referral Tokens: <span class="tokens"><strong
                            class="tokens-amount">0.0000</strong> UNIT</span></p>
                    <p class="text-right">
                        <small><a href="{% url 'cp:affiliate' 'html' %}">Get more Tokens for free</a></small>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</header>