{% load i18n %}
{% load static %}
{% load config %}
<header>
    <div class="container">
        <div class="row">
            {% include 'cp/partials/navbar.html' %}
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="welcome col-md-7 col-sm-6 hidden-xs">{% blocktrans with name=user.first_name %}<h3>Welcome, {{ name }}!</h3>
                    <p>Thank you for participation in our project. This area is your personal account of Unilot token
                        sale.</p>{% endblocktrans %}</div>
                <div class="tokens-info col-md-5 col-sm-6 col-xs-12"><p class="lead text-right">
                    <a tabindex="0" class="popover-trigger" role="button"
                       data-toggle="popover" data-trigger="toggle" title="{% trans 'Are your tokens not displayed?' %}"
                       data-placement="bottom"
                       data-html="true"
                       data-content="<ul><li>{% trans 'Updating tokens amount may take a while due to Ethereum Network load.' %}</li><li>{% trans 'Check tokens amount at your wallet.' %}</li></ul><br /> <a href='{% url 'cp:faq' 'html' %}#answer8' class='btn btn-md btn-default'>{% trans 'How to display tokens?' %}</a>">
                        <span class="tokens-question"></span></a>{% trans 'My Tokens' %}: <span class="tokens">
                    {% get_humanized_token_amount user.profile.token_balance as num_tokens %}
                    {% get_humanized_token_amount user.profile.referral_token_balance as num_ref_tokens %}
                    <strong class="tokens-amount">{% if num_tokens %}{{ num_tokens|floatformat:6 }}{% else %}
                        0{% endif %}</strong> UNIT</span></p>
                    <p class="text-right">{% trans 'Referral Tokens' %}: <span class="tokens"><strong
                            class="tokens-amount">{{ num_ref_tokens|floatformat:6 }}</strong> UNIT</span></p>
                    <p class="text-right">
                        <small><a href="{% url 'cp:affiliate' 'html' %}">{% trans 'Get more Tokens for free' %}</a></small>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</header>