{% load static %}
{% load i18n %}
<nav class="navbar navbar-unilot" role="navigation">
    <ul class="nav navbar-nav" id="navbar">
        <li class="item-toggle"><a class="toggle-menu" href="#"><span
                class="sr-only">{% trans 'Toggle navigation' %}</span><span
                class="glyphicon glyphicon-menu-hamburger"></span></a></li>
        {% if user.is_authenticated %}
            <li class="item-collapsible"><a href="{% url 'cp:dashboard' 'html' %}">{% trans 'Dashboard' %}</a>
            </li>
            <li class="item-collapsible"><a href="{% url 'cp:affiliate' 'html' %}">{% trans 'Affiliate &amp; Bounty programs' %}</a>
            </li>
        {% else %}
            <li class="item-collapsible"><a href="{% url 'landing:index-html' %}">Unilot ICO</a>
            </li>
        {% endif %}
        <li class="item-collapsible"><a href="{% url 'cp:faq' 'html' %}">{% trans 'FAQ' %}</a>
        </li>
        <li class="item-brand"><a href="#"><img class="logo" src="{% static 'cp/img/unilot-logo-header.png' %}"
                                                alt="{% trans 'Unilot Investor Dashboard' %}"></a></li>
        {% if user.is_authenticated %}
        <li class="item-right item-collapsible">
            <a href="{% url 'landing:index-html' %}">Unilot ICO</a>
        </li>
        <li class="item-right item-collapsible-xs">
            <a href="{% url 'cp:profile' 'html' %}">{% trans 'Profile' %}</a>
        </li>
        {% endif %}
        <li class="item-right item-btn">
            {% if user.is_authenticated %}
                <form action="{% url 'cp:sign-out' 'html' %}" method="post" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit" role="submit" class="btn btn-default nav-btn">
                        <span class="btn-action">{% trans 'Sign out' %}</span>
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </form>
            {% else %}
            <a class="btn btn-default nav-btn" role="button" href="{% url 'cp:auth' 'html' %}">
                <span class="btn-action">{% trans 'Sign in' %}</span>
                {% trans 'or' %} <span class="btn-action">{% trans 'Sign up' %}</span>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>