{% load i18n %}
{% load static %}

<div class="alert alert-flex no-padding" role="alert">
    <img class="pull-left" src="{% static 'cp/img/attention.png' %}">
    <p>{% blocktrans with currency=currency %}<strong>Do not</strong> send from an Exchange wallets.{% endblocktrans %}</p>
</div>
<div class="row well">
    <div class="col-md-3 col-md-offset-1"><img class="qr"
                               src="{{ qrcode_url }}">
    </div>
    <div class="col-md-7">
        <form class="contract-number">

            <h5>{% blocktrans with amount=amount currency=currency %}Please send <strong>{{ amount }} {{ currency }}</strong> to address below:</h5>{% endblocktrans %}
            <div class="form-group"><label class="control-label text-uppercase">{% trans 'Payment address' %}</label>
                                           <p><strong>{{ address }}</strong></p>
            </div>
        </form>
        <p>{% trans 'UNIT tokens will be delegated in 24 hours after payment.' %}</p>

        <p>{% blocktrans with status_url=status_url%}See <a href="{{ status_url }}" target="_blank">this link</a> to track payment status.{% endblocktrans %}</p>
    </div>
</div>