{% load i18n %}
{% load referral %}
{% load social_links %}
{% load config %}
{% load token %}

{% can_refer as is_can_refer %}

{% if is_can_refer %}

{% referral_url as referral_url %}
{% get_humanized_token_amount user.profile.referral_token_balance as num_ref_tokens %}

<section class="referrals"><h3 class="no-margin">{% trans 'My UNIT Referral Tokens' %}</h3>
    <output id="referral-amount"><span class="space-after">{{ num_ref_tokens|floatformat:6 }}</span><span class="unit">UNIT</span>
    </output>
    <ul class="nav nav-pills nav-social">
        <li><a class="btn" href="{% share_telegram referral_url %}" target="_blank" title="{% trans 'Share to Telegram' %}"><span
                class="icon icon-telegram"></span></a></li>
        {% trans 'Unilot Token Sale' as reddit_title %}
        <li><a class="btn" href="{% share_reddit_post reddit_title referral_url %}" target="_blank"
               title="{% trans 'Share to Reddit' %}"><span
                class="icon icon-reddit"></span></a></li>
        <li><a class="btn" href="{% share_twitter referral_url %}" target="_blank" title="{% trans 'Share to Twitter' %}"><span
                class="icon icon-twitter"></span></a></li>
        <li><a class="btn" href="{% share_facebook referral_url %}" target="_blank" title="{% trans 'Share to Facebook' %}"><span
                class="icon icon-facebook"></span></a></li>
    </ul>
</section>
{% endif %}
