{% load i18n %}
{% load martortags %}
{% if advisors_list %}
<section class="advisors white" id="advisors">
    <div class="container">
        <div class="heading row">
            <div class="col-xs-12">
                <h2>{% if advisors_title %}{{ advisors_title }}{% else %}{% trans 'Advisers' %}{% endif %}</h2>
                <span>{% if advisors_title %}{{ advisors_title }}{% else %}{% trans 'Advisers' %}{% endif %}</span>
            </div>
        </div>
        <div class="row content">
            {% for advisor in advisors_list %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="advisors__block">
                    <div class="row">
                        <div class="col-xs-5"><img src="{{ advisor.photo.url }}" alt="Unilot {{ advisor.full_name }} {{ advisor.position }}">
                        </div>
                        <div class="col-xs-7"><a href="https://www.linkedin.com/in/{{ advisor.linkedin_nickname }}/">{{ advisor.full_name }}<i class="icon-linkedin"></i></a><b>{{ advisor.position }}</b><span></span>
                            {{ advisor.caption|safe_markdown }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}