{% if request.get_host == 'unilot.io' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109149155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109149155-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46518084 = new Ya.Metrika({
                    id:46518084,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46518084" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project = 11611524;
        var sc_invisible = 1;
        var sc_security = "be561691";
        var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
    </script>
    <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"
            async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="http://statcounter.com/"
                                    target="_blank"><img class="statcounter"
                                                         src="//c.statcounter.com/11611524/0/be561691/1/" alt="Web
Analytics Made Easy - StatCounter"></a></div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
<img style="display:none;" src="//a.mgid.com/1x1.gif?id=142654&type=c&g=x&t=x&tg=lead142654&v=1&r=">
{% endif %}