{% load i18n %}

<div class="has-overlay">
    <form class="form js-generic-form js-form-no-focus" method="post"
          action="{% url 'landing:subscribe' 'json' %}"
          data-success-message="{% trans 'Your email was successfully submitted' %}">
        {% include 'landing/includes/overlay.html' with is_bg_red=True %}
        <div class="row">
            {% include 'landing/includes/form-alert.html' %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <div class="form-group">
                    <input id="subscribeEmail" type="email" name="email" required/>
                    <label for="subscribeEmail">{% trans 'Enter Your Best Email' %}
                        <span class="required"></span></label>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <button type="submit" class="btn btn-block">{% trans 'Get Me On The List' %}</button>
            </div>
        </div>
    </form>
</div>
