{% load i18n %}
{% load static %}
{% trans 'Unilot successful seed-funding round' as june_17 %}
{% trans 'Board of Advisors and MVP ready to roll' as september_october_17 %}
{% trans 'Pre-Ico arrangements and closed testing' as december_17 %}
{% trans 'ICO first stage kick-off with up to 25% of ICO equity offered.' as january_18 %}
{% trans 'ICO first stage with up 50% of ICO equity offered.' as february_18 %}
{% trans 'Unilot beta launch under Malta Remote Gaming Licence.' as march_18 %}
{% trans 'ICO second stage with up 50% of ICO equity offered.' as april_18 %}
{% trans 'BTC Auction and reality lotteries next games release.' as june_18 %}
{% trans 'Decentralized platform priority regions localization complete with hosted games and white label options.' as august_september_18 %}
{% trans 'Comprehensive peer betting prognostication and totalizer functionality on hosted games and white label platform.' as november_18 %}
<section class="roadmap white" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="heading">
                    <h2>{% trans 'Roadmap' %}</h2><span>{% trans 'Roadmap' %}</span>
                </div>
                <div class="demo-wrap">
                    <div class="slide-wrap__block"></div>
                    <div class="demo" id="demo">
                        <ul class="slide-wrap" id="example">
                            <li class="pos1">
                                <div class="inner">
                                    <h4>{% trans 'June' %}
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>{{ june_17 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos2">
                                <div class="inner">
                                    <h4>{% trans 'September' %} - {% trans 'October' %}
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>{{ september_october_17 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos3">
                                <div class="inner">
                                    <h4>{% trans 'December' %}
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>{{ december_17 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos4">
                                <div class="inner">
                                    <h4>{% trans 'January' %} 10
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ january_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos5">
                                <div class="inner">
                                    <h4>{% trans 'February' %} 22
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ february_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos6">
                                <div class="inner">
                                    <h4>{% trans 'March' %} 30
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ march_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos7">
                                <div class="inner">
                                    <h4>{% trans 'April' %} 20
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ april_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos8">
                                <div class="inner">
                                    <h4>{% trans 'June' %}
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ june_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos9">
                                <div class="inner">
                                    <h4>{% trans 'August' %} - {% trans 'September' %}
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ august_september_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos10">
                                <div class="inner">
                                    <h4>{% trans 'November' %}
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>{{ november_18 }}</li>
                                    </ul>
                                </div>
                            </li>
                            <i class="arrow prev" id="jprev"></i><i class="arrow next" id="jnext"></i>
                        </ul>
                    </div>
                </div>
                <div class="swiper-container" id="swiper-1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <h4>{% trans 'June' %}
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>{{ june_17 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'September' %} - {% trans 'October' %}
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>{{ september_october_17 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'December' %}
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>{{ december_17 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'January' %} 10
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ january_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'February' %} 22
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ february_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'March' %} 30
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ march_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'April' %} 20
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ april_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'June' %}
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ june_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'August' %} - {% trans 'September' %}
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ august_september_18 }}
                            </ul>
                        </div>


                        <div class="swiper-slide">
                            <h4>{% trans 'November' %}
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>{{ november_18 }}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev" id="prev1"><i class="icon-chevron-thin-left"></i></div>
                <div class="swiper-button-next" id="next1"><i class="icon-chevron-thin-right"></i></div>
            </div>
        </div>
    </div>
</section>