{% load i18n %}
{% load static %}
<section class="roadmap" id="roadmap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="heading">
                    <h2>Roadmap</h2><span>Roadmap</span>
                </div>
                <div class="demo-wrap">
                    <div class="slide-wrap__block"></div>
                    <div class="demo" id="demo">
                        <ul class="slide-wrap" id="example">
                            <li class="pos1">
                                <div class="inner">
                                    <h4>May
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>Unilot is formalized</li>
                                        <li>Initial investment is required</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos2">
                                <div class="inner">
                                    <h4>June
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>Seed fund is received</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos3">
                                <div class="inner">
                                    <h4>October - December
                                        <p>'17</p>
                                    </h4>
                                    <ul>
                                        <li>MVP Ready</li>
                                        <li>Pre-ICO preparations</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos4">
                                <div class="inner">
                                    <h4>January
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>11 - Pre-ICO Active</li>
                                        <li>18 - Closed System Testing</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos5">
                                <div class="inner">
                                    <h4>February to March
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>ICO #1 (50% of total ICO investment is offered)</li>
                                        <li>1st more system tests and bug fixing</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos6">
                                <div class="inner">
                                    <h4>March 30
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>Unilot launch will include licensing from Malta Remote Gaming Licence http://www.mga.org.mt/gaming-sectors/remote-gaming/</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos7">
                                <div class="inner">
                                    <h4>April
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>1st Unilot is released with fully functional & tested Lottery game</li>
                                        <li>15th - ICO #2 (the remaining 50% is offered to the public)</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos8">
                                <div class="inner">
                                    <h4>May to June
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>Launch of new game “BTC Auction</li>
                                        <li>Add Lottery variants</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos9">
                                <div class="inner">
                                    <h4>July - September
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>Launch of decentralized platform hosted games, white label</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos10">
                                <div class="inner">
                                    <h4>November
                                        <p>'18</p>
                                    </h4>
                                    <ul>
                                        <li>Launch “Host your own game” / White label platform</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="pos11">
                                <div class="inner">
                                    <h4>January to March
                                        <p>'19</p>
                                    </h4>
                                    <ul>
                                        <li>Launch of Poker game</li>
                                        <li>Launch Bingo</li>
                                    </ul>
                                </div>
                            </li>
                            <i class="arrow prev" id="jprev"></i><i class="arrow next" id="jnext"></i>
                        </ul>
                    </div>
                </div>
                <div class="swiper-container" id="swiper-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h4>May
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>Unilot is formalized</li>
                                <li>Initial investment is required</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>June
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>Seed fund is received</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>October - December
                                <p>'17</p>
                            </h4>
                            <ul>
                                <li>MVP Ready</li>
                                <li>Pre-ICO preparations</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>January
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>11 - Pre-ICO Active</li>
                                <li>18 - Closed System Testing</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>February to March
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>ICO #1 (50% of total ICO investment is offered)</li>
                                <li>1st more system tests and bug fixing</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>March 30
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>Unilot launch will include licensing from Malta Remote Gaming Licence
                                    http://www.mga.org.mt/gaming-sectors/remote-gaming/
                                </li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>April
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>1st Unilot is released with fully functional & tested Lottery game</li>
                                <li>15th - ICO #2 (the remaining 50% is offered to the public)</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>May to June
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>Launch of new game “BTC Auction</li>
                                <li>Add Lottery variants</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>July - September
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>Launch of decentralized platform hosted games, white label</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>November
                                <p>'18</p>
                            </h4>
                            <ul>
                                <li>Launch “Host your own game” / White label platform</li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <h4>January to March
                                <p>'19</p>
                            </h4>
                            <ul>
                                <li>Launch of Poker game</li>
                                <li>Launch Bingo</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev" id="prev1"><i class="icon-chevron-thin-left"></i></div>
                <div class="swiper-button-next" id="next1"><i class="icon-chevron-thin-right"></i></div>
            </div>
        </div>
    </div>
</section>