{% load i18n %}
{% load martortags %}
{% if team_members_list %}
<section class="{% if is_team_numbered %}numbered {% endif %}team light" id="s10-team">
    <div class="container">
        <div class="row heading text-bg">
            <div class="col-xs-12">
                <h2>{% if team_title %}{{ team_title }}{% else %}{% trans 'Team' %}{% endif %}</h2>
                <span>{% if team_title %}{{ team_title }}{% else %}{% trans 'Team' %}{% endif %}</span>
            </div>
        </div>
        <div class="row content center-xs">
            {% for team_member in team_members_list %}
            <div class="col-md-3 col-sm-4 col-xs-12"><a href="https://www.linkedin.com/in/{{ team_member.linkedin_nickname }}/" target="_blank"><img
                    data-src="{{ team_member.photo.url }}" alt="Unilot {{ team_member.full_name }} {{ team_member.position }}">
                <p>{{ team_member.full_name }}<i class="icon-linkedin"></i></p><b>{{ team_member.position }}</b><span></span></a></div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}