{% load i18n %}
{% load static %}
<section class="{% if is_tokenomics_numbered %}numbered {% endif %}light" id="s9-distribution">
    <div class="container">
        <div class="row heading text-bg">
            <div class="col-md-12">
                <h2>Распределение токенов и использование средств</h2><span>Распределение токенов</span>
            </div>
        </div>
        <div class="row pull-up">
            <div class="col-md-6 function" id="s9-1">
                <div class="row sub heading">
                    <div class="col-md-12">
                        <h3>Распределение токенов</h3>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-12"><img src="{% static 'landing/img/function-1.png' %}" alt="">
                        <p class="legend purple">62% Покупатели</p>
                        <p class="legend lightblue">10% Резерв</p>
                        <p class="legend lightgreen">3% Баунти</p>
                        <p class="legend lilac">10% Реферальная и бонусная программы</p>
                        <p class="legend coral">5% Советники</p>
                        <p class="legend blue">10% Команда</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 function" id="s9-2">
                <div class="row sub heading">
                    <div class="col-md-12">
                        <h3>Использование средств</h3>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-12"><img src="{% static 'landing/img/function-2.png' %}" alt="">
                        <p class="legend purple">40% Маркетинг</p>
                        <p class="legend mint">30% Разработка и расширение платформы</p>
                        <p class="legend lilac">15% Развитие бизнеса и партнерства</p>
                        <p class="legend lightblue">10% Правовые и различные операции</p>
                        <p class="legend pink">5% Консультанты</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>