{% load i18n %}
{% load static %}
<section class="function" id="tokenomics">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="heading">
                    <h2>Token Distribution</h2><span>Tokens</span>
                </div>
                <img src="{% static 'landing/img/function-1.png' %}" alt="">
                <p>62% Purchasers <span class="purple"></span></p>
                <p>10% Reserve <span class="blue"></span></p>
                <p>3% Bounty <span class="green"></span></p>
                <p>10% Referral and Bonus Program <span class="lilac"></span></p>
                <p>5% Advisers <span class="yellow"></span></p>
                <p>10% Team <span class="blue"></span></p>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="heading h2">
                    <h2>Use of Funds</h2><span>Flow</span>
                </div>
                <img src="{% static 'landing/img/function-2.png' %}" alt="">
                <p>40% Marketing<span class="purple"></span></p>
                <p>30% Platform Development and expansion<span class="green"></span></p>
                <p>15% Business Development and Partnerships<span class="lilac"></span></p>
                <p>10% Legal and Misc Operations<span class="blue"></span></p>
                <p>5% Consultants<span class="yellow"></span></p>
            </div>
        </div>
    </div>
</section>