{% extends 'cp/base/base.html' %}
{% load static %}
{% load i18n %}
{% load referral %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <main>
            <div class="hidden-md hidden-lg">
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% include 'cp/partials/beta-invite.html' %}
            </div>
            <section class="programs"><h3>{% block title %}{% trans 'Affiliate &amp; Bounty programs' %}{% endblock %}</h3>
                <div class="tab-content">
                    <div class="tab-pane document active" id="affiliate" role="tabpanel">
                        {{ affiliate.get_content|safe }}
                    </div>
                    <div class="tab-pane document" id="bounty" role="tabpanel">
                        {{ bounty.get_content|safe }}
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="active" role="presentation"><a class="btn btn-default btn-lg" href="#affiliate"
                                                              role="tab" aria-controls="affiliate"
                                                              data-toggle="tab">{% trans 'Affiliate program' %}</a></li>
                    <li role="presentation"><a class="btn btn-default btn-lg" href="#bounty" role="tab"
                                               aria-controls="bounty" data-toggle="tab">{% trans 'Bounty program' %}</a></li>
                </ul>
            </section>
            <div class="hidden-md hidden-lg">
                {% include 'cp/partials/referrals.html' %}
            </div>
        </main>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <aside class="pull-right">
            {% include 'cp/partials/buy-tokens-button.html' %}
            {% include 'cp/partials/referrals.html' %}
        </aside>
    </div>
</div>
{% endblock %}
{% block modals %}
{% include 'cp/partials/modals/buy-unit-tokens.html' %}
{% include 'cp/partials/modals/source-wallet.html' %}
{% endblock %}
