{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load dynamic_content %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <main>
            <div class="ico">
                {% include 'cp/partials/timer.html' %}
                {% include 'cp/partials/progress.html' %}
                {% include 'cp/partials/ico-info.html' %}
            </div>
            <div class="hidden-md hidden-lg">
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% include 'cp/partials/calculator.html' %}
            </div>
            <section>
                {% content_text 'dashboard-main' %}
            </section>
        </main>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <aside class="pull-right">
            {% include 'cp/partials/buy-tokens-button.html' %}
            {% if not user.beta_tester %}
            {% include 'cp/partials/beta-invite.html' %}
            {% endif %}
            {% include 'cp/partials/calculator.html' %}
        </aside>
    </div>
</div>
{% endblock %}
{% block modals %}
{% include 'cp/partials/modals/buy-unit-tokens.html' %}
{% if not user.profile.wallet %}
{% include 'cp/partials/modals/source-wallet.html' %}
{% endif %}
{% endblock %}