{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load dynamic_content %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <main>
            <div class="ico">
                {% include 'cp/partials/timer.html' %}
                {% include 'cp/partials/progress.html' %}
                {% include 'cp/partials/ico-info.html' %}
            </div>
            <div class="hidden-md hidden-lg">
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% include 'cp/partials/beta-invite.html' %}
                {% include 'cp/partials/calculator.html' with currency='ETH' %}
            </div>
            <section>
                {% content_text 'dashboard-main' %}
                {% if thank_you and request.get_host == 'unilot.io' %}
                    <img style="display:none;" src="//a.mgid.com/1x1.gif?id=142654&type=c&g=x&t=x&tg=lead142654&v=1&r=">
                {% endif %}
            </section>
        </main>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <aside class="pull-right">
            {% include 'cp/partials/buy-tokens-button.html' %}
            {% include 'cp/partials/beta-invite.html' %}
            {% include 'cp/partials/calculator.html' with currency='ETH' %}
        </aside>
    </div>
</div>
{% endblock %}
{% block modals %}
{% include 'cp/partials/modals/buy-unit-tokens.html' %}
{% include 'cp/partials/modals/source-wallet.html' %}
{% endblock %}