{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load martortags %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <main>
            <div class="hidden-md hidden-lg">
                {% if user.is_authenticated %}
                    {% include 'cp/partials/buy-tokens-button.html' %}
                    {% if not user.beta_tester %}
                        {% include 'cp/partials/beta-invite.html' %}
                    {% endif %}
                {% else %}
                    <section>
                        {% include 'cp/partials/timer.html' %}
                    </section>
                {% endif %}
            </div>
            <section class="faq">
                <div class="container">
                    <div class="row heading">
                        <div class="col-md-12">
                            <h2>{% block title %}{% trans 'Frequently Asked Questions' %}{% endblock %}</h2>
                            <p>{% trans 'Here are some common questions about Unilot and whole Lottery Platform' %}</p>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-md-6">
                            {% for question in object_list %}
                                <div class="question">
                                    <h4>{{ forloop.counter }}. {{ question.question }}</h4>
                                    <div id="answer{{ question.id }}">
                                        {{ question.answer|safe_markdown }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <aside class="pull-right">
            {% if user.is_authenticated %}
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% if not user.beta_tester %}
                    {% include 'cp/partials/beta-invite.html' %}
                {% endif %}
                {% include 'cp/partials/calculator.html' %}
            {% else %}
                <section>
                    {% include 'cp/partials/timer.html' %}
                </section>
            {% endif %}
        </aside>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% if user.is_authenticated %}
        {% include 'cp/partials/modals/buy-unit-tokens.html' %}
        {% if not user.profile.wallet %}
            {% include 'cp/partials/modals/source-wallet.html' %}
        {% endif %}
    {% endif %}
{% endblock %}