{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load static %}
{% load config %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <main>
                <div class="ico">
                    {% include 'cp/partials/timer.html' %}
                </div>
                <section class="profile">
                    <div class="row">
                        <div class="col-md-5 js-has-overlay">
                            {% include 'cp/partials/profile/profile-edit-form.html' %}
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="row"><h3>My Wallet</h3>
                                <form>
                                    <div class="form-group label-floating">
                                        <label class="control-label" for="wallet">Wallet
                                            <span class="required"></span></label>
                                        <div class="input-group">
                                            <input class="form-control" id="wallet" type="text"
                                                   value="{{ wallet }}"
                                                   readonly><span class="input-group-addon"><a
                                                class="text-uppercase" href="#">Copy address</a></span></div>
                                    </div>
                                </form>
                            </div>
                            <div class="row js-has-overlay">
                                {% include 'cp/partials/profile/password-change-form.html' %}
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <aside class="pull-right">
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% include 'cp/partials/referrals.html' %}
            </aside>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'cp/partials/modals/buy-unit-tokens.html' %}
    {% if not user.profile.wallet %}
        {% include 'cp/partials/modals/source-wallet.html' %}
    {% endif %}
{% endblock %}
