{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load dynamic_content %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <main>
                <section>
                    <div class="js-has-overlay">
                        <h2>{% block title %}{% trans 'Setup your account password' %}{% endblock %}</h2>
                        {% include 'cp/partials/form-overlay.html' %}

                        <form class="js-generic-form" id="setPassword" role="form" data-toggle="validator"
                              action="{% url 'cp:verify' verification_key 'json' %}" method="post"
                              data-url="
                                      {% if is_valid_profile %}{% url 'cp:dashboard' 'html' %}{% else %}{% url 'cp:profile' 'html' %}{% endif %}">
                            {% csrf_token %}
                            {% include 'includes/form-alert.html' %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"
                                               for="setPasswordPassword">{% trans 'New password' %} <span class="required"></span></label><input
                                            class="form-control" id="setPasswordPassword" type="password" required
                                            name="password" data-minlength="8">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"
                                               for="setPasswordPasswordRepeate">{% trans 'Repeat new password' %} <span class="required"></span></label><input class="form-control"
                                                                  id="setPasswordPasswordRepeate" type="password"
                                                                  required
                                                                  name="password_repeate"
                                                                  data-match="#setPasswordPassword"
                                                                  data-minlength="8">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-default btn-lg btn-block" role="submit">
                                            {% trans 'Save password' %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <aside class="pull-right">
                <section>
                    {% include 'cp/partials/timer.html' %}
                </section>
            </aside>
        </div>
    </div>
{% endblock %}
