{% extends 'cp/base/base.html' %}
{% load i18n %}
{% load dynamic_content %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <main>
                <section>
                    <div class="js-has-overlay">
                        <h2>{% block title %}{% trans 'Setup your account password' %}{% endblock %}</h2>
                        {% include 'cp/partials/form-overlay.html' %}

                        <form class="js-generic-form" id="setPassword" role="form" data-toggle="validator"
                              action="{% url 'cp:verify' verification_key 'json' %}" method="post"
                              data-url="
                                      {% if is_valid_profile %}{% url 'cp:dashboard' 'html' %}{% else %}{% url 'cp:profile' 'html' %}{% endif %}">
                            {% csrf_token %}
                            {% include 'includes/form-alert.html' %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"
                                               for="setPasswordPassword">Password <span class="required"></span></label><input
                                            class="form-control" id="setPasswordPassword" type="password" required
                                            name="password" data-minlength="8">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"
                                               for="setPasswordPasswordRepeate">Password
                                            repeate <span class="required"></span></label><input class="form-control"
                                                                  id="setPasswordPasswordRepeate" type="password"
                                                                  required
                                                                  name="password_repeate"
                                                                  data-match="#setPasswordPassword"
                                                                  data-minlength="8">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary pull-right" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <aside class="pull-right">
                {% include 'cp/partials/buy-tokens-button.html' %}
                {% if not user.beta_tester %}
                    {% include 'cp/partials/beta-invite.html' %}
                {% endif %}
                {% include 'cp/partials/calculator.html' %}
            </aside>
        </div>
    </div>
{% endblock %}
{% block modals %}
    {% include 'cp/partials/modals/buy-unit-tokens.html' %}
    {% if not user.profile.wallet %}
        {% include 'cp/partials/modals/source-wallet.html' %}
    {% endif %}
{% endblock %}