{% extends 'landing/base/base.html' %}
{% load i18n %}
{% load static %}
{% load referral %}

{% block topmenu %}
{% main_page_url as main_page_url %}
<li><a href="{{ main_page_url }}#whatIsUnilot">{% trans 'What is Unilot' %}</a></li>
<li><a href="{{ main_page_url }}#whitePaper">{% trans 'White Paper' %}</a></li>
<li><a href="{{ main_page_url }}#unilotBenefits">{% trans 'Unilot Features' %}</a></li>
<li><a href="{{ main_page_url }}#faq">{% trans 'FAQ' %}</a></li>
{% endblock %}

{% block sidemenu %}
{% for key, item in document.table_of_content %}
<li><a class="font-roboto-light-18-px" href="#{{ key }}">{{ item }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
    <section class="document footer-push">
        <div class="container">
            {{ document.get_content|safe }}
        </div>
    </section>
{% endblock %}
