{% extends 'landing/base/base.html' %}
{% load i18n %}
{% load martortags %}
{% block content %}
<section class="faq">
    <div class="container">
        <div class="row heading">
            <div class="col-md-12">
                <h2>{% block title %}{% trans 'Frequently Asked Questions' %}{% endblock %}</h2>
                <p>Here are some common questions about Unilot and whole Lottery Platform</p>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-6">
                {% for question in object_list %}
                <div class="question">
                    <h4>1. {{ question.question }}</h4>
                    {{ question.answer|safe_markdown }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}