{% extends 'landing/base/base.html' %}
{% load static %}
{% load i18n %}
{% load social_links %}
{% load martortags %}
{% load config %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

{% trans 'Join Unilot' as contribute_button_text %}

{% block content %}
    {% get_stage_start_date 0 as preico_start_date %}
    {% get_stage_start_date 1 as ico_1_start_date %}
    {% get_stage_start_date 2 as ico_2_start_date %}
    {% get_stage_end_date 0 as preico_end_date %}
    {% get_stage_end_date 1 as ico_1_end_date %}
    {% get_stage_end_date 2 as ico_2_end_date %}
    <section class="sentence" id="main">
        <div class="container">
            <div class="scene">
                <div data-depth="0.03"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="{{ LANGUAGE_CODE }}">
                        {% block title %}{% trans 'Initial Coin Offering Presale' %}{% endblock %}</h1>
                </div>
                <div class="col-md-6">
                    <p style="margin-top:40px;">{% blocktrans %}Unilot is a blockchain-powered lottery, gambling,
                        betting and prognostication suite.
                        In short, it is everything that a casino isn’t. It runs as a Distributed Autonomous
                        Organization to guarantee a truly transparent lottery and gambling solution. Use Unilot's token
                        like a casino chip to join and play, create and run your own private gambling rooms, and even
                        put together global complex betting deals world-wide.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <p>{% trans 'Pre ICO ends in' %}:</p>
                    {% token_eth_cap as eth_amount %}
                    {% token_cap as token_cap %}
                    <div class="sentence__timer">
                        <div class="row">
                            <div class="col-xs-12"><span class="js-countdown"></span></div>
                            <div class="col-xs-12 flex">
                                <b>{% trans 'Days' %}</b>
                                <b>{% trans 'Hours' %}</b>
                                <b>{% trans 'Minutes' %}</b>
                                <b>{% trans 'Seсs' %}</b>
                            </div>
                            <div class="col-xs-12 end-xs">
                                <p>{% blocktrans with eth_amount=eth_amount|intcomma token_cap=token_cap|intcomma %}Goal
                                    {{ eth_amount }} ETH ({{ token_cap }} UNIT){% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sentence__scale">
                                <!-- <p>ETH 0 Raised</p> -->
                                <div class="sentence__scale_block" style="width: 8%;"><span>3%</span></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block sentence__block--padding">
                                {% token_bonus as token_bonus %}
                                <p>{% trans 'Upcoming bonus' %}</p><span>{{ token_bonus|floatformat }}%</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block">
                                <p>{% trans 'Tokens for sale' %}</p><span>{{ token_cap|intcomma }}</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block sentence__block--padding">
                                <p>{% trans 'Max cap' %}</p><span>{{ eth_amount|intcomma }} ETH</span>
                            </div>
                        </div>
                        {% if is_pre_ico %}
                            <div class="col-xs-12 start-sm center-xs"><a class="btn" href="{{ contribute_url }}">
                                {{ contribute_button_text }}</a></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4 end-xs"><img src="{% static 'landing/img/sentence-platform.png' %}" alt=""></div>
            </div>
        </div>
    </section>
    <section class="about white" id="whatIsUnilot">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>{% trans 'What is Unilot' %}</h2><span>{% trans 'Who we are' %}</span>
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 col-xs-12">
                    <p>
                        {% blocktrans %}<strong>Unilot</strong> &mdash; is a decentralized gambling platform which
                            allows players to play and
                            host online games like poker tournaments, lottery and many other games. Unilot will be
                            available
                            through mobile apps on iOS and Android platforms and transact using UNIT as it’s main
                            currency.{% endblocktrans %}
                    </p>
                </div>
                <div class="col-md-7 col-sm-5"><img src="{% static 'landing/img/about.png' %}" alt=""></div>
            </div>
        </div>
    </section>
    <section class="advantages light" id="unilotBenefits">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>{% trans 'Unilot Features' %}</h2><span>{% trans 'Features' %}</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/01.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Unilot will not access or hold any Player Funds' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/02.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Consensus of game state is reached between players with encrypted P2P messaging' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/03.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Play games globally or make money by hosting your own game tournaments' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/04.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Feature Single player RNG & Multiplayer games' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/05.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Decentralized and isolated to prevent God Mode' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/06.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>{% trans 'Unilot is white label platform' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="client dark" id="mobileClient">
        <div class="container">
            <div class="scene1">
                <div data-depth="0.5"><img src="{% static 'landing/img/client-bg.png' %}" alt=""></div>
            </div>
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>{% trans 'Mobile Client' %}</h2><span>{% trans 'Mobile App' %}</span>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-7 col-xs-12">
                    {% blocktrans %}
                        <p>All Unilot global and hosted games will be run on Unilot mobile client, designed to handle
                            p2p
                            communication and perform blockchain action.</p>
                        <p>Now there is a closed beta-testing round of mobile client that is currently represented by
                            Unilot
                            lottery based on iOS and Android platform.</p>
                        <p>Become first investors to take part in testing and improving Unilot app.</p>
                    {% endblocktrans %}

                    <div class="row start-sm center-xs">
                        <div class="col-xs-12">
                            <div class="client__app">
                                {% if is_app_public %}
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12"><a href="#">
                                            <div class="row">
                                                <div class="col-xs-3"><img
                                                        src="{% static 'landing/img/google-play.svg' %}"
                                                        alt=""></div>
                                                <div class="col-xs-9">
                                                    <p>{% trans 'Download on the' %}</p><span>Google Play</span>
                                                </div>
                                            </div>
                                        </a></div>
                                        <div class="col-sm-6 col-xs-12"><a href="#">
                                            <div class="row">
                                                <div class="col-xs-3"><img src="{% static 'landing/img/apple.svg' %}"
                                                                           alt="">
                                                </div>
                                                <div class="col-xs-9">
                                                    <p>{% trans 'Download on the' %}</p><span>App Store</span>
                                                </div>
                                            </div>
                                        </a></div>
                                    </div>
                                {% endif %}
                            </div>
                            {% get_available_languages as LANGUAGES %}
                            {% if LANGUAGES|length > 1 %}
                                <div class="client__lng">
                                    {% for lang_code, lang_name in LANGUAGES %}
                                        <a href="#"><img src="{% get_static_prefix %}/landing/img/{{ lang_code }}.svg"
                                                         alt="{{ lang_code|language_name_local }}"></a>
                                    {% endfor %}</div>
                            {% endif %}
                            <div class="row">
                                {% if is_pre_ico %}
                                    <div class="col-xs-12">
                                        <a class="btn" href="{{ contribute_url }}">{{ contribute_button_text }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <iframe width="100%" height="70%"
                            src="https://www.youtube.com/embed/{% youtube_video_code 'unilot-app' %}?rel=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    {% include 'landing/includes/roadmap.html' %}
    <section class="token-details {{ LANGUAGE_CODE }} purple-bg">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>{% trans 'Token Details' %}</h2><span>{% trans 'Token Details' %}</span>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <p>{% blocktrans %}A total of <span class="nowrap">500 000 000 UNIT</span> tokens will be issued without any
                                additional tokens. Unsold tokens will be burned after ICO. We accept only ETH.{% endblocktrans %}</p>
                            <table class="table table-summary">
                                <tr>
                                    <td class="td-label">{% trans 'Token name' %}:</td>
                                    <td>Unilot</td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'Ticker' %}:</td>
                                    <td>UNIT</td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'Project protocol' %}:</td>
                                    <td>ERC20</td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'Total tokens supply' %}:</td>
                                    <td><span class="nowrap">500 000 000 UNIT</span></td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'Total tokens for sale' %}:</td>
                                    <td><span class="nowrap">310 000 000 UNIT</span></td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'Price' %}:</td>
                                    <td>1 UNIT = 0.000079 ETH</td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'MIN transaction' %}:</td>
                                    <td>1 UNIT = 1 UNIT (0.000079 ETH)</td>
                                </tr>
                                <tr>
                                    <td class="td-label">{% trans 'MAX transaction' %}:</td>
                                    <td>379 746 UNIT (30 ETH)</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 tab-wrapper">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active" role="presentation"><a href="#details-presale" role="tab"
                                                                          aria-controls="details-presale"
                                                                          data-toggle="tab">{% trans 'Presale details' %}</a></li>
                                <li role="presentation">
                                    <a href="#details-ico-1" role="tab" aria-controls="details-ico-1" data-toggle="tab">
                                        {% trans 'ICO Stage I' %}</a></li>
                                <li role="presentation"><a href="#details-ico-2" role="tab"
                                                           aria-controls="details-ico-2" data-toggle="tab">
                                    {% trans 'ICO Stage II' %}</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane ico-stage-details active" id="details-presale" role="tabpanel">
                                    <h3>{% trans 'Presale details' %}</h3>
                                    <table class="table">
                                        <tr>
                                            <td>{% trans 'Start date' %}:</td>
                                            <td>{{ preico_start_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'End date' %}:</td>
                                            <td>{{ preico_end_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Available tokens' %}:</td>
                                            <td><span class="nowrap">25 000 000 UNIT</span></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Price' %}:</td>
                                            <td>1 ETH = 12 658 UNIT</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Bonus' %}:</td>
                                            <td>40% ({% blocktrans with you_buy=10000|intcomma you_get=14000|intcomma %}pay for <span class="nowrap">{{ you_buy }} UNIT</span>, get <span
                                                    class="nowrap">{{ you_get }} UNIT</span>{% endblocktrans %})
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane ico-stage-details" id="details-ico-1" role="tabpanel">
                                    <h3>{% trans 'ICO Stage I' %}</h3>
                                    <table class="table">
                                        <tr>
                                            <td>{% trans 'Start date' %}:</td>
                                            <td>{{ ico_1_start_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'End date' %}:</td>
                                            <td>{{ ico_1_end_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Available tokens' %}:</td>
                                            <td><span class="nowrap">142 500 000 UNIT</span></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Price' %}:</td>
                                            <td>1 ETH = 12 658 UNIT</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Bonus' %}:</td>
                                            <td>
                                                <p>{% blocktrans with step_num=1 %}step {{ step_num }}{% endblocktrans %}: 35% ({% blocktrans with you_buy=10000|intcomma you_get=13500|intcomma %}pay for <span class="nowrap">{{ you_buy }} UNIT</span>, get <span
                                                    class="nowrap">{{ you_get }} UNIT</span>{% endblocktrans %})</p>
                                                <p>{% blocktrans with step_num=2 %}step {{ step_num }}{% endblocktrans %}: 30% ({% blocktrans with you_buy=10000|intcomma you_get=13000|intcomma %}pay for <span class="nowrap">{{ you_buy }} UNIT</span>, get <span
                                                    class="nowrap">{{ you_get }} UNIT</span>{% endblocktrans %}) </p>
                                                <p>{% blocktrans with step_num=3 %}step {{ step_num }}{% endblocktrans %}: 25% ({% blocktrans with you_buy=10000|intcomma you_get=12500|intcomma %}pay for <span class="nowrap">{{ you_buy }} UNIT</span>, get <span
                                                    class="nowrap">{{ you_get }} UNIT</span>{% endblocktrans %}) </p>
                                                <p>{% blocktrans with step_num=4 %}step {{ step_num }}{% endblocktrans %}: 20% ({% blocktrans with you_buy=10000|intcomma you_get=12000|intcomma %}pay for <span class="nowrap">{{ you_buy }} UNIT</span>, get <span
                                                    class="nowrap">{{ you_get }} UNIT</span>{% endblocktrans %})</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane ico-stage-details" id="details-ico-2" role="tabpanel">
                                    <h3>{% trans 'ICO Stage II' %}</h3>
                                    <table class="table">
                                        <tr>
                                            <td>{% trans 'Start date' %}:</td>
                                            <td>{{ ico_2_start_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'End date' %}:</td>
                                            <td>{{ ico_2_end_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Available tokens' %}:</td>
                                            <td><span class="nowrap">142 500 000 UNIT</span> +
                                                {% trans 'unsold tokens from Presale and ICO stage 1 (without bonus)' %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Price' %}:</td>
                                            <td>1 ETH = 12 658 UNIT</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'landing/includes/token-distribution.html' %}
    <section class="whitepaper white" id="whitePaper">
        <div class="container">
            <div class="scene2" style="z-index:0;">
                <div data-depth="0.5"><img src="{% static 'landing/img/whitepaper-bg.png' %}" alt=""></div>
            </div>
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>{% trans 'Whitepaper' %}</h2><span>{% trans 'Whitepaper' %} </span>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-5 col-xs-12">
                    <p>{% trans 'Read our whitepaper in order to know more about the Unilot® platform, the token, the team and ICO round details.' %}</p>
                    <div>
                        <a class="btn" href="{% url 'landing:white-paper' 'white-paper' %}"
                           target="_blank">{% trans 'View White Paper' %}<i class="icon-file-text2"></i></a>
                        <span>English</span>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>{% trans 'Start Date' %}</th>
                            <td>
                                {{ preico_start_date }} / 14:00 {% trans 'New York' %} / 19:00 {% trans 'London' %} /
                                22:00 {% trans 'Moscow' %} /
                                04:00 {% trans 'Tokyo' %} ({{ preico_start_date|add_days:1|date:'MONTH_DAY_FORMAT' }})
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'End Date' %}</th>
                            <td>{{ preico_end_date }} / 14:00 {% trans 'New York' %} / 19:00 {% trans 'London' %} /
                                22:00 {% trans 'Moscow' %} /
                                04:00 {% trans 'Tokyo' %} ({{ preico_end_date|add_days:1|date:'MONTH_DAY_FORMAT' }})
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Token Sale Cap' %}</th>
                            <td><strong><span class="big-amount"
                                              style="padding-left: 0; color: inherit;">25 000 000</span></strong> UNIT
                                {% trans 'tokens' %}
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Currency Accepted' %}</th>
                            <td>ETH</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Bonus' %}</th>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Exchange Rate' %} <a href="#footnote-sale" title="{% trans 'See footnote' %}"><sup
                                    class="footnote-ref footnote-star"></sup></a></th>
                            <td>1 ETH = <span class="big-amount" style="padding-left: 0; color: inherit;">12 658</span>
                                UNIT {% trans 'Tokens' %} + (<strong>40% {% trans 'Bonus' %}</strong>)
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans 'Minimum Transaction' %}</th>
                            <td>1 UNIT {% trans 'Token' %} (0.000079 ETH)</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Maximum Transaction' %} <a href="#footnote-sale"
                                                                     title="{% trans 'See footnote' %}"><sup
                                    class="footnote-ref footnote-star"></sup></a></th>
                            <td><span class="big-amount"
                                      style="padding-left: 0; color: inherit;">379 746</span> {% trans 'Tokens' %} (30
                                ETH)
                            </td>
                        </tr>
                    </table>
                    <p class="footnote footnote-star" id="footnote-sale"><sup></sup>
                        <small>
                            - {% trans 'was rounded to the whole number. The calculations in contract will be carried out to 18 decimal places' %}</small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% if roadshow_list %}
        <section class="roadshow dark" id="roadshow">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="heading">
                            <h2>{% trans 'Roadshow' %}</h2><span>{% trans 'Roadshow' %}</span>
                        </div>
                        <div class="swiper-container" id="swiper-2">
                            <div class="swiper-wrapper">
                                {% for slide in roadshow_list %}
                                    <div class="swiper-slide">
                                        <h4>{% if slide.end_date.day and slide.end_date.day != slide.start_date.day %}
                                            {{ slide.start_date.day }} - {{ slide.end_date.day }}{% else %}
                                            {{ slide.start_date.day }}{% endif %}</h4>
                                        <p>
                                            {% if slide.end_date.month and slide.end_date.month != slide.start_date.month %}
                                                {{ slide.start_date|date:'F' }} -
                                                {{ slide.end_date|date:'F' }}{% else %}
                                                {{ slide.start_date|date:'F' }}{% endif %} {{ slide.start_date.year }}</p>
                                        <div class="swiper-slide__block"><img src="{{ slide.cover_image.url }}"
                                                                              alt="Unilot {% trans 'Roadshow' %} {{ slide.title }}">
                                            <p>{{ slide.title }}</p>
                                            <div class="row">
                                                <div class="col-xs-6"><span>{{ slide.location }}</span></div>
                                                <div class="col-xs-6 end-xs"><a href="{{ slide.info_url }}"
                                                                                target="_blank"><img
                                                        src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-prev" id="prev"><i class="icon-chevron-thin-left"></i></div>
                        <div class="swiper-button-next" id="next"><i class="icon-chevron-thin-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'landing/includes/advisors.html' %}
    {% include 'landing/includes/team_members.html' %}
    {% if faqs_total > 0 %}
        <section class="faq white" id="faq">
            <div class="container">
                <div class="row heading">
                    <div class="col-xs-12">
                        <h2>{% trans 'FAQ' %}</h2><span>{% trans 'FAQ' %}</span>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-md-5">
                        {% for faq in faqs|slice:":6" %}
                            <div class="faq__block faq__block">
                                <a class="faq-question closed">{{ faq.question }}<i class="icon-chevron-thin-down"></i></a>
                                <div class="name">{{ faq.answer|safe_markdown }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        {% for faq in faqs|slice:"6:12" %}
                            <div class="faq__block faq__block">
                                <a class="faq-question closed">{{ faq.question }}<i class="icon-chevron-thin-down"></i></a>
                                <div class="name">{{ faq.answer|safe_markdown }}</div>
                            </div>
                        {% endfor %}
                        {% if faqs_total > 12 %}
                            <a class="btn" href="{% url 'landing:faq-html' %}">{% trans 'Show all FAQ topics' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if publications_list %}
        <section class="publications gray light" id="publications">
            <div class="container">
                <div class="row heading">
                    <div class="col-xs-12">
                        <h2>{% trans 'Publications' %}</h2><span>{% trans 'Publications' %}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 flex-wrap">
                        {% for publication in publications_list %}
                            <div class="thumbnail"><img src="{{ publication.cover_image.url }}"
                                                        alt="{{ publication.title }}">
                                <div class="caption">
                                    <h3>{{ publication.title }}</h3>
                                    <p>{{ publication.caption|safe_markdown }}</p>
                                    <p><a class="btn btn-default" href="{{ publication.full_url }}" role="button"
                                          target="_blank">{% trans 'Read full' %}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="partners white" id="partners">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>{% trans 'Partners' %}</h2><span>{% trans 'Partners' %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 flex-wrap">
                    <div class="thumbnail">
                        <img src="{% static 'landing/img/partners/ico-board.png' %}" alt="ICO Board">
                    </div>
                    <div class="thumbnail">
                        <img src="{% static 'landing/img/partners/tokenup.png' %}" alt="TokenUp">
                    </div>
                    <div class="thumbnail">
                        <img src="{% static 'landing/img/partners/igamingadvisors.png' %}" alt="iGamingAdvisors">
                    </div>
                    <div class="thumbnail">
                        <img src="{% static 'landing/img/partners/credsberry.png' %}" alt="Credsberry">
                    </div>
                    <div class="thumbnail">
                        <img src="{% static 'landing/img/partners/zeroone.png' %}" alt="ZeroOne">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer footer-push" id="newsletter">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>{% trans 'Newsletter' %}</h2><span>{% trans 'Newsletter' %}</span>
                </div>
            </div>
            <div class="footer__top">
                <div class="row center-xs">
                    <div class="col-sm-3 col-xs-10"><a class="card network larger" href="{% github_organization %}"
                                                       target="_blank"><i class="icon-github"></i><span class="git">GitHub</span></a>
                    </div>
                    <div class="col-sm-3 col-xs-10"><a class="card network larger" href="{% telegram_channel %}"
                                                       target="_blank"><i
                            class="icon-telegram"></i><span>Telegram</span></a></div>
                    <div class="col-sm-3 col-xs-10"><a class="card network larger" href="{% medium_blog %}"
                                                       target="_blank"><i
                            class="icon-medium"></i><span>Medium</span></a></div>
                    <div class="col-sm-3 col-xs-10"><a class="card network larger" href="{% bitcointalk_thread %}"
                                                       target="_blank"><i
                            class="icon-bitcointalk"></i><span>Bitcointalk</span></a></div>
                </div>
                <div class="row start-sm center-xs">
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network" href="{% reddit_url %}"
                                                                          target="_blank"><i
                            class="icon-reddit"></i><span>Reddit</span></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network"
                                                                          href="{% twitter_channel %}"
                                                                          target="_blank"><i
                            class="icon-twitter"></i><span>Twitter</span></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network"
                                                                          href="{% facebook_page %}" target="_blank"><i
                            class="icon-facebook"></i><span>Facebook</span></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network"
                                                                          href="{% linkedin_company %}" target="_blank"><i
                            class="icon-linkedin"></i><span>Linkedin</span></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network" href="{% steemit_blog %}"
                                                                          target="_blank"><i
                            class="icon-steemit"></i><span>Steemit</span></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a class="card network"
                                                                          href="{% youtube_channel %}"
                                                                          target="_blank"><i
                            class="icon-YouTube-2 icon-youtube"></i><span>YouTube</span></a></div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="row middle-md">
                    <div class="footer__logo col-md-3 center-md col-sm-6 center-sm col-xs-12 center-xs center-lg"><img
                            src="{% static 'landing/img/logo.svg' %}" alt="Unilot Logo">
                        {% now 'Y' as year %}
                        <p>{% blocktrans %}Unilot&reg; 2017 - {{ year }} All Rights Reserved{% endblocktrans %}</p>
                    </div>
                    <div class="ethereum-logo col-md-3 center-md col-sm-6 center-sm col-xs-12 center-xs center-lg"><a
                            href="https://www.ethereum.org" target="_blank"><img
                            src="{% static 'landing/img/ethereum-logo.png' %}" alt="Ethereum"></a></div>
                    <div class="footer__nav col-md-6 end-md col-sm-12 center-sm col-xs-12 center-xs end-lg">
                        <ul>
                            <li><a href="{% url 'landing:document' 'terms-and-conditions' %}"
                                   target="_blank">{% trans 'Terms and Conditions' %}</a></li>
                            <li><a href="{% url 'landing:document' 'affiliate-terms-and-conditions' %}"
                                   target="_blank">{% trans 'Affiliate Program' %}</a></li>
                            <li><a href="{% url 'landing:document' 'bounty-program' %}"
                                   target="_blank">{% trans 'Bounty Program' %}</a></li>
                            <li><a href="mailto:info@unilot.io" target="_blank">info@unilot.io</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
