{% load static %}
{% load i18n %}
{% load config %}
{% load phone %}
<form class="js-generic-form" method="post" action="{% url 'cp:sign-up' 'json' %}"
      data-url="{% url 'cp:dashboard' 'html' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            {% include 'includes/form-alert.html' %}
            <div class="row no-padding">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label" for="signUpCountry">{% trans 'Country' %}
                            <span class="required"></span></label>
                        <span class="caret"></span>
                        <select class="form-control" id="signUpCountry" required name="country">
                        <option selected disabled></option>
                        {% get_countries as countries %}
                        {% for code,name in countries.items %}
                            <option value="{{ code }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-warning alert-flex" role="alert"><img
                            class="pull-left" src="{% static 'cp/img/attention.png' %}">
                        {% get_excluded_countries_as_listed_text as forbidden_countries %}
                        <p>{% blocktrans %}We're unable to sell Unilots to {{ forbidden_countries }}
                            residents{% endblocktrans %}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating"><label class="control-label"
                                                          for="signUpEmail">{% trans 'Email' %}
                <span class="required"></span></label>
                <input class="form-control" id="signUpEmail" type="email" required name="email"
                       data-online="{% url 'cp:validate-email' 'json' %}">
                <div class="help-block with-errors"></div>
                <div class="help-block">
                    {% trans "You will be notified when your tokens are available. We won't disclose your email to third parties." %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row no-padding">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label" for="signUpFirstName">{% trans 'First name' %}
                            <span class="required"></span></label>
                        <input class="form-control" id="signUpFirstName" type="text" required name="first_name">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="signUpLastName">{% trans 'Last name' %}
                            <span class="required"></span></label>
                        <input class="form-control" id="signUpLastName" type="text" required name="last_name">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label" for="signUpCompany">{% trans 'Company name' %}</label>
                        <input class="form-control" id="signUpCompany" type="text"
                                           name="company">
                        <div class="help-block">
                            {% trans 'For incorporated buyers only, otherwise leave empty' %}
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row no-padding">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group label-floating">
                        <label class="control-label" for="signUpPhoneCode">{% trans 'Phone code' %}
                            <span class="required"></span></label>
                        <span class="caret"></span>
                        <select class="form-control" id="signUpPhoneCode" name="phone_code" required>
                            <option disabled selected></option>
                            {% get_phone_codes as phone_codes %}
                            {% for value, label in phone_codes %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select></div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <div class="form-group label-floating"><label class="control-label"
                                                                  for="signUpPhone">{% trans 'Phone number' %}
                        <span class="required"></span></label>
                        <input class="form-control" id="signUpPhone" type="tel" required name="phone"
                               data-phone="signUpPhoneCode">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="signUpAgreedToTerms" name="agreed_to_terms" required>
                        <span class="checkbox-material"></span>
                        {% url 'landing:document' 'terms-and-conditions' as tnc_url %}
                        {% blocktrans %}I accept these <a href="{{ tnc_url }}" target="_blank">Terms &amp; Conditions</a>{% endblocktrans %}</label></div>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-lg btn-auth pull-right" role="button" type="submit">
                {% trans 'Sign me up' %}<span class="glyphicon glyphicon-menu-right"></span></button>
        </div>
    </div>
</form>