{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}Sing (in|up) to access dashboard{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{{ sign_up_url }}">Sign-up for pre-order</a></li>
                <li class="active" role="presentation"><a href="#auth-sign-in" role="tab"
                                           aria-controls="auth-sign-in" data-toggle="tab">Sign
                    Up</a></li>
                <li role="presentation"><a href="#auth-recover-access" role="tab"
                                           aria-controls="auth-recover-access" data-toggle="tab">Forgot
                    password</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active js-has-overlay" id="auth-sign-in" role="tabpanel">
                    {% include 'includes/form-overlay.html' %}
                    <form id="signInForm" class="js-generic-form" role="form"
                          data-toggle="validator" action="{% url 'cp:sign-in' 'json' %}"
                          method="POST" data-url="{% url 'cp:dashboard' 'html' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert js-form-alert hidden text-center"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group"><label class="control-label"
                                                               for="signInEmail">Email</label><input
                                        class="form-control" id="signInEmail" type="email"
                                        placeholder="Email" required name="email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group"><label class="control-label"
                                                               for="signInEmail">Password</label><input
                                        class="form-control" id="signInPassword" type="password"
                                        placeholder="Password" required name="password">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% include 'includes/form-overlay.html' %}
                            <div class="col-xs-12">
                                <button class="btn btn-primary pull-right" role="submit">Sign In
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="auth-recover-access" role="tabpanel">
                    <form id="recoverAccessForm" class="js-generic-form" role="form"
                          data-toggle="validator" action="{% url 'cp:recover-access' 'json' %}"
                          method="POST" data-success-message="{% trans 'Check your email' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert js-form-alert hidden text-center"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group"><label class="control-label"
                                                               for="recoverEmail">Email</label><input
                                        class="form-control" id="recoverEmail" type="email"
                                        placeholder="Email" required name="email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        {% include 'includes/form-overlay.html' %}
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary pull-right" role="submit">Recover
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
