    {% extends 'base/base.html' %}
{% load i18n %}
{% load dynamic_content %}

{% block title %}Sing (in|up) to access dashboard{% endblock %}


{% block content %}
<div class="panel panel panel-default">
    <div class="panel-body"><p class="lead"><strong>Welcome to your unilot account!</strong></p>
        <p>Thank you for participation in our project.This area is your personal account of Unilot token
            sale.</p></div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        {% content_text 'dashboard-main' %}
        {% include 'includes/token-calculator.html' with currency='ETH' %}
        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-lg btn-primary btn-block" type="button" data-toggle="modal"
                        data-target="#buyTokens">Buy now
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}