{% extends 'base/base.html' %}
{% load i18n %}
{% load config %}

{% block title %}{% trans 'Edit your profile' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body js-has-overlay">
                <h2>{% trans 'Edit your profile' %}</h2>
                {% include 'includes/form-overlay.html' %}
                <form class="js-generic-form" id="editProfile" role="form" data-toggle="validator"
                      action="{% url 'cp:profile' 'json' %}" method="patch" data-success-message="{% trans 'Profile updated' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert hidden js-form-alert text-center"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="editProfileFirstName">{% trans 'First name' %}</label>
                                <input class="form-control" id="editProfileFirstName" type="text"
                                    placeholder="First name" required name="first_name" value="{{ first_name }}">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="editProfileLastName">{% trans 'Last name' %}
                                                    </label><input class="form-control"
                                                      id="editProfileLastName" type="text"
                                                      placeholder="Last name" required
                                                      name="last_name" value="{{ last_name }}">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="editProfileCompanyName">{% trans 'Company name' %}
                                                    </label><input class="form-control"
                                                      id="editProfileCompanyName" type="text"
                                                      placeholder="{% trans 'Company name' %}" required
                                                      name="company_name" value="{{ company_name }}">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="editProfilePhoneNumber">{% trans 'Phone number' %}
                                                    </label><input class="form-control"
                                                      id="editProfilePhoneNumber" type="tel"
                                                      placeholder="{% trans 'Phone number' %}" required
                                                      name="phone_number" value="{{ phone_number }}"
                                                        data-phone="true">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><label for="editProfileCountry">Country</label><select
                                    class="form-control" id="editProfileCountry" aria-describedby="countryHelp"
                                    name="country" required>
                                {% get_countries as countries %}
                                {% for code,name in countries.items %}
                                <option value="{{ code }}"{% if country == code %} selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select><span class="help-block" id="countryHelp"></span>
                                <div class="help-block with-errors"></div>
                            </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group"><label class="control-label"
                                                       for="editProfileWallet">Wallet
                                                </label><input class="form-control"
                                                  id="editProfileWallet" type="text"
                                                  placeholder="Wallet" required
                                                  value="{{ wallet|default:'' }}"
                                                    data-wallet disabled>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body js-has-overlay">
                {% include 'includes/form-overlay.html' %}
                <form class="js-generic-form" id="changePassword" role="form" data-toggle="validator"
                      action="{% url 'cp:password-change' 'json' %}" method="patch"
                      data-url="{% url 'cp:auth' 'html' %}">
                    {% csrf_token %}
                    <h3>Change Password</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="currentPassword">Current Password
                                                    </label><input class="form-control"
                                                      id="currentPassword" type="password"
                                                      placeholder="Current Password" required
                                                      name="current_password">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="newPassword">New Password
                                                    </label><input class="form-control"
                                                      id="newPassword" type="password"
                                                      placeholder="New Password" required
                                                      name="password">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="newPasswordRepeate">Repeate New Password
                                                    </label><input class="form-control"
                                                      id="newPasswordRepeate" type="password"
                                                      placeholder="Repeate New Password" required
                                                      name="password_repeate" data-match="#newPassword">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
