{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Setup your account password' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body js-has-overlay">
                <h2>{% trans 'Setup your account password' %}</h2>
                <div class="block-overlay hidden">
                    <div class="overlay-wrapper">
                        <div class="row overlay-centered full-width">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="overlay-center progress">
                                    <div class="progress-bar progress-bar-striped active full-width"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="js-generic-form" id="setPassword" role="form" data-toggle="validator"
                      action="{% url 'cp:verify' verification_key 'json' %}" method="post"
                      data-url="{% if is_valid_profile %}{% url 'cp:dashboard' 'html' %}{% else %}{% url 'cp:profile' 'html' %}{% endif %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert hidden js-form-alert text-center"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="setPasswordPassword">Password</label><input
                                    class="form-control" id="setPasswordPassword" type="password"
                                    placeholder="Password" required name="password" data-minlength="8">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group"><label class="control-label"
                                                           for="setPasswordPasswordRepeate">Password
                                repeate</label><input class="form-control"
                                                      id="setPasswordPasswordRepeate" type="password"
                                                      placeholder="Password repeate" required
                                                      name="password_repeate" data-match="#setPasswordPassword"
                                                      data-minlength="8">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
