{% load dynamic_content %}
{% load config %}
<div class="modal fade" id="invalidCitizenship" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Citizenship</h4></div>
            <div class="modal-body">
                <p class="lead">Sorry, currently we're unable to sell Unilots to residents of these countries:</p>
                <ul class="lead">
                    {% get_excluded_countries as excluded_countries %}
                    {% for key,name in excluded_countries.items %}
                        <li>{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <a
                                class="btn btn-lg btn-primary"
                                role="button" href="{% url 'landing:index' %}">Go to main page</a>
                        <a
                                class="btn btn-lg btn-default"
                                data-dismiss="modal" aria-label="Close"
                                role="button" tabindex="0">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>