{% load static %}
{% load i18n %}
{% load social_links %}
{% load martortags %}
{% get_current_language as LANGUAGE_CODE %}
{% if user.is_authenticated %}{% url 'cp:dashboard' 'html' as contribute_url %}{% else %}
    {% url 'cp:auth' 'html' as contribute_url %}{% endif %}
{% if referrer_code and user.is_authenticated %}
    {% url 'auth-referred' 'referrer_code' 'html' as contribute_url %}{% endif %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <title>Unilot</title>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'landing/css/main.min.css' %}">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-md-2 col-sm-12 col-xs-6 start-md center-xs">
                <div class="header__logo">
                    <div class="top-line-anchor">
                        <div class="sticky-element" id="sticky">
                            <div class="sticky-anchor"></div>
                            <div class="sticky-content">
                                <div class="menu-open"><a id="btn" href="#menu"><span></span></a></div>
                            </div>
                        </div>
                    </div>
                    <a href="#"><img src="{% static 'landing/img/logo-header.svg' %}" alt="Unilot logo"></a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="flex around-xs" id="link">
                    <li><a href="#link1">What is Unilot</a></li>
                    <li><a href="#link2">White Paper</a></li>
                    <li><a href="#link3">FAQ</a></li>
                    {% if show_roadshow %}<li><a href="#">Upcoming Events</a></li>{% endif %}
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-6">
                <div class="header__left">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="header__left__lng">
                                {% include 'includes/language_menu.html' %}
                            </div>
                        </div>
                        {% if is_pre_ico %}
                            <div class="col-md-8 col-xs-12 start-md center-xs">
                            <div class="header__left__btn">
                                <a class="btn" href="{{ contribute_url }}">{% trans 'Contribute Now' %}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</header>
<div class="sentence__social">
    <p>Contact Us</p>
    <div class="sentence__social__block">
        <a href="{% github_organization %}"><i class="icon-github"></i></a>
        <a href="{% telegram_channel %}"><i class="icon-telegram"></i></a>
        <a href="{% medium_blog %}"><i class="icon-medium"></i></a>
        <a href="{% reddit_url %}"><i class="icon-reddit"></i></a>
        <a href="{% twitter_channel %}"><i class="icon-twitter"></i></a></div>
</div>
<div class="slideout-menu slideout-menu-right" id="menu">
    <div class="menu-close"><span></span></div>
    <div class="row">
        <div class="col-xs-12" id="link-1">
            <ul>
                <li><a href="#link1">What is Unilot</a></li>
                <li><a href="#link2">White Paper</a></li>
                <li><a href="#link3">FAQ</a></li>
                <li><a href="#">Upcoming Events</a></li>
                {% if is_pre_ico %}
                    <li><a href="{{ contribute_url }}">{% trans 'Contribute Now' %}</a></li>
                {% endif %}
                <li>
                    {% include 'includes/language_menu.html' %}
                </li>
            </ul>
            <div class="unilot">
                <div class="row">
                    <div class="col-xs-5"><img src="{% static 'landing/img/logo.svg' %}" alt="">
                        <p>Скачайте приложение Unilot App и будьте всегда в курсе новых лотерей</p>
                        {% if is_app_public %}
                            <a href="#">App Store<img src="{% static 'landing/img/apple.svg' %}" alt=""></a>
                            <a href="#">Google Play<img src="{% static 'landing/img/google-play.svg' %}" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="col-xs-7"><img src="{% static 'landing/img/sentence.png' %}" alt=""></div>
                </div>
            </div>
            <div class="social"><i class="icon-github"></i><i class="icon-telegram"></i><i class="icon-medium"></i><i
                    class="icon-reddit"></i><i class="icon-twitter"></i></div>
        </div>
    </div>
</div>
<div class="slideout-panel slideout-panel-right" id="panel">
    <section class="sentence">
        <div class="container">
            <div class="scene">
                <div data-depth="0.6"><img src="{% static 'landing/img/sentence-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h1>Initial Coin Offering Pre-sale Started</h1>
                    <p>Pre-ICO starts in:</p>
                    <div class="sentence__timer">
                        <div class="row">
                            <div class="col-xs-12"><span class="js-countdown"></span></div>
                            <div class="col-xs-12 flex"><b>Days</b><b>Hours</b><b>Minutes</b><b>Seсs</b></div>
                            {% if is_pre_ico %}
                                <div class="col-xs-12 end-xs">
                                    <p>Goal $1,000,000 (1,5 Million UNT)</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        {% if is_pre_ico %}
                            <div class="col-xs-12">
                                <div class="sentence__scale">
                                    <p>$834,343 Raised</p>
                                    <div class="sentence__scale_block"><span>49%</span></div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block sentence__block--padding">
                                <p>Upcoming bonus</p><span>40%</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block sentence__block--padding">
                                <p>Min commitment</p><span>0 ETH</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 center-xs">
                            <div class="sentence__block">
                                <p>Token price</p><span>0.000055 ETH</span>
                            </div>
                        </div>
                        {% if is_pre_ico %}
                            <div class="col-xs-12 start-sm center-xs"><a class="btn" href="{{ contribute_url }}">
                                {% trans 'Contribute Now' %}</a></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4 end-xs"><img src="{% static 'landing/img/sentence.png' %}" alt=""></div>
            </div>
        </div>
    </section>
    <section class="about" id="link1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>What is Unilot</h2><span>Who we are</span>
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 col-xs-12">
                    <p><b>Unilot</b> is Decentralized Lottery Based on<br> <b>Ethereum Smart Contracts.</b><br>The
                        maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of the
                        project, increase the amount of guaranteed prize fund and accelerate the launch of new drawings.
                        <b>Unilot</b> is Decentralized Lottery Based on <b>Ethereum Smart Contracts.</b></p>
                    <p>The maximum amount of raised funding is $12 000 000. This will help to speed up the expansion of
                        the project, increase the amount of guaranteed prize fund and accelerate the launch of new
                        drawings.</p>
                </div>
                <div class="col-md-7 col-sm-5"><img src="{% static 'landing/img/about.png' %}" alt=""></div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Unilot Benefits</h2><span>Benefits</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/01.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Unilot will not access or hold any Player Funds</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/02.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Consensus of game state is reached between players with encrypted P2P messaging</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/03.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Play games globally or make money by hosting your own game tournaments</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/04.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Feature Single player RNG & Multiplayer games</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block advantages__block--margin">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/05.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Decintrilized and isolated to prevent God Mode</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="advantages__block">
                        <div class="row middle-xs">
                            <div class="col-xs-3"><img src="{% static 'landing/img/06.svg' %}" alt=""></div>
                            <div class="col-xs-9">
                                <p>Unilot platform can be Whitelabeled</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="client">
        <div class="container">
            <div class="scene1">
                <div data-depth="0.5"><img src="{% static 'landing/img/client-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Mobile Client</h2><span>Mobile App</span>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <p>Unilot Mobile Client will be available on iOS and Android platforms. Unilot mobile will support
                        multiple regions, languages offered English, Russian and German</p>
                </div>
            </div>
            <div class="row start-sm center-xs">
                <div class="col-md-5 col-sm-7 col-xs-12">
                    <div class="client__app">
                        {% if is_app_public %}
                            <div class="row">
                                <div class="col-sm-6 col-xs-12"><a href="#">
                                    <div class="row">
                                        <div class="col-xs-3"><img src="{% static 'landing/img/google-play.svg' %}"
                                                                   alt=""></div>
                                        <div class="col-xs-9">
                                            <p>Download on the</p><span>Google Play</span>
                                        </div>
                                    </div>
                                </a></div>
                                <div class="col-sm-6 col-xs-12"><a href="#">
                                    <div class="row">
                                        <div class="col-xs-3"><img src="{% static 'landing/img/apple.svg' %}" alt="">
                                        </div>
                                        <div class="col-xs-9">
                                            <p>Download on the</p><span>App Store</span>
                                        </div>
                                    </div>
                                </a></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="client__lng">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <a href="#"><img src="{% get_static_prefix %}/landing/img/{{ lang_code }}.svg"
                                             alt="{{ lang_code|language_name_local }}"></a>
                        {% endfor %}</div>
                </div>
                <div class="col-md-7 col-sm-5">
                    <div class="client__img"><img src="{% static 'landing/img/client.png' %}" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Roadmap</h2><span>Roadmap</span>
                    </div>
                    <div class="demo-wrap">
                        <div class="slide-wrap__block"></div>
                        <div class="demo" id="demo">
                            <ul class="slide-wrap" id="example">
                                <li class="pos1">
                                    <div class="inner">
                                        <h4>May
                                            <p>'17</p>
                                        </h4>
                                        <ul>
                                            <li>Unilot is formalized</li>
                                            <li>Initial investment is required</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos2">
                                    <div class="inner">
                                        <h4>June
                                            <p>'17</p>
                                        </h4>
                                        <ul>
                                            <li>Seed fund is received</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos3">
                                    <div class="inner">
                                        <h4>October - December
                                            <p>'17</p>
                                        </h4>
                                        <ul>
                                            <li>MVP Ready</li>
                                            <li>Pre-ICO preparations</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos4">
                                    <div class="inner">
                                        <h4>January
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>11 - Pre-ICO Active</li>
                                            <li>18 - Closed System Testing</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos5">
                                    <div class="inner">
                                        <h4>February to March
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>ICO #1 (50% of total ICO investment is offered)</li>
                                            <li>1st more system tests and bug fixing</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos6">
                                    <div class="inner">
                                        <h4>March 30
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>Unilot launch will include licensing from Malta Remote Gaming Licence http://www.mga.org.mt/gaming-sectors/remote-gaming/</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos7">
                                    <div class="inner">
                                        <h4>April
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>1st Unilot is released with fully functional & tested Lottery game</li>
                                            <li>15th - ICO #2 (the remaining 50% is offered to the public)</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos8">
                                    <div class="inner">
                                        <h4>May to June
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>Launch of new game “BTC Auction</li>
                                            <li>Add Lottery variants</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos9">
                                    <div class="inner">
                                        <h4>July - September
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>Launch of decentralized platform hosted games, white label</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos10">
                                    <div class="inner">
                                        <h4>November
                                            <p>'18</p>
                                        </h4>
                                        <ul>
                                            <li>Launch “Host your own game” / White label platform</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pos11">
                                    <div class="inner">
                                        <h4>January to March
                                            <p>'19</p>
                                        </h4>
                                        <ul>
                                            <li>Launch of Poker game</li>
                                            <li>Launch Bingo</li>
                                        </ul>
                                    </div>
                                </li>
                                <i class="arrow prev" id="jprev"></i><i class="arrow next" id="jnext"></i>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-container" id="swiper-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h4>May
                                    <p>'17</p>
                                </h4>
                                <ul>
                                    <li>Unilot is formalized</li>
                                    <li>Initial investment is required</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>June
                                    <p>'17</p>
                                </h4>
                                <ul>
                                    <li>Seed fund is received</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>October - December
                                    <p>'17</p>
                                </h4>
                                <ul>
                                    <li>MVP Ready</li>
                                    <li>Pre-ICO preparations</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>January
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>11 - Pre-ICO Active</li>
                                    <li>18 - Closed System Testing</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>February to March
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>ICO #1 (50% of total ICO investment is offered)</li>
                                    <li>1st more system tests and bug fixing</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>March 30
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>Unilot launch will include licensing from Malta Remote Gaming Licence
                                        http://www.mga.org.mt/gaming-sectors/remote-gaming/
                                    </li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>April
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>1st Unilot is released with fully functional & tested Lottery game</li>
                                    <li>15th - ICO #2 (the remaining 50% is offered to the public)</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>May to June
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>Launch of new game “BTC Auction</li>
                                    <li>Add Lottery variants</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>July - September
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>Launch of decentralized platform hosted games, white label</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>November
                                    <p>'18</p>
                                </h4>
                                <ul>
                                    <li>Launch “Host your own game” / White label platform</li>
                                </ul>
                            </div>

                            <div class="swiper-slide">
                                <h4>January to March
                                    <p>'19</p>
                                </h4>
                                <ul>
                                    <li>Launch of Poker game</li>
                                    <li>Launch Bingo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev" id="prev1"><i class="icon-chevron-thin-left"></i></div>
                    <div class="swiper-button-next" id="next1"><i class="icon-chevron-thin-right"></i></div>
                </div>
            </div>
        </div>
    </section>
    <section class="function">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="heading">
                        <h2>Token Distribution</h2><span>Tokens</span>
                    </div>
                    <img src="{% static 'landing/img/function-1.png' %}" alt="">
                    <p>78% Purchasers <span class="purple"></span></p>
                    <p>12% Team <span class="green"></span></p>
                    <p>10% Early Adopters & Founders <span class="blue"></span></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="heading h2">
                        <h2>Use of Funds</h2><span>Flow</span>
                    </div>
                    <img src="{% static 'landing/img/function-2.png' %}" alt="">
                    <p>40% Marketing<span class="purple"></span></p>
                    <p>30% Platform Development and expansion<span class="green"></span></p>
                    <p>15% Business Development and Partnerships<span class="lilac"></span></p>
                    <p>10% Legal and Misc Operations<span class="blue"></span></p>
                    <p>5% Consultants<span class="yellow"></span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="whitepaper" id="link2">
        <div class="container">
            <div class="scene2">
                <div data-depth="0.5"><img src="{% static 'landing/img/whitepaper-bg.png' %}" alt=""></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Whitepaper</h2><span>Whitepaper </span>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <p>Read our whitepaper in order to know more about the Unilot® platform, the token, the team and ICO
                        round details.</p>
                </div>
                <div class="col-xs-12">
                    <a class="btn" href="#">View White Paper<i class="icon-file-text2"></i></a>
                    <span>English</span>
                </div>
            </div>
        </div>
    </section>
    {% if show_roadshow %}
        <section class="roadshow">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="heading">
                            <h2>Roadshow</h2><span>Roadshow</span>
                        </div>
                        <div class="swiper-container" id="swiper-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h4>1-5</h4>
                                    <p>November 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-1.png' %}" alt="">
                                        <p>Blockchain & Bitcoin Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>Moscow</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <h4>20-23</h4>
                                    <p>November 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-2.png' %}" alt="">
                                        <p>GCC Blockchain Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>Dubai</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <h4>15-20</h4>
                                    <p>December 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-3.png' %}" alt="">
                                        <p>Blockchain & Bitcoin Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>London</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <h4>1-5</h4>
                                    <p>November 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-1.png' %}" alt="">
                                        <p>Blockchain & Bitcoin Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>Moscow</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <h4>20-23</h4>
                                    <p>November 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-2.png' %}" alt="">
                                        <p>GCC Blockchain Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>Dubai</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <h4>15-20</h4>
                                    <p>December 2017</p>
                                    <div class="swiper-slide__block"><img
                                            src="{% static 'landing/img/swiper-slide-3.png' %}" alt="">
                                        <p>Blockchain & Bitcoin Conference</p>
                                        <div class="row">
                                            <div class="col-xs-6"><span>London</span></div>
                                            <div class="col-xs-6 end-xs"><a href="#"><img
                                                    src="{% static 'landing/img/swiper-i.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-prev" id="prev"><i class="icon-chevron-thin-left"></i></div>
                        <div class="swiper-button-next" id="next"><i class="icon-chevron-thin-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="advisors">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Advisors</h2><span>Our Advisors</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Council.png' %}" alt="">
                            </div>
                            <div class="col-xs-7"><a href="#">COUNCIL<i class="icon-linkedin"></i></a><b>Legal issues
                                partner</b><span></span>
                                <p>The company works in a partnership agreement with a number of leading legal companies
                                    of Russia, Europe, the USA, and South Korea. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Timur-Mukminov.png' %}"
                                                       alt=""></div>
                            <div class="col-xs-7"><a href="#">Timur Mukminov<i class="icon-linkedin"></i></a><b>International
                                Relations and Business Intelligence advisor</b><span></span>
                                <p>Business Process Advisor: Program Portfolio & Tech. Project Management,
                                    Infrastructure, Agile, Global Eng. Management; ex-Program Manager Network Operations
                                    at Google Inc. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Sergey-Skabelkin.png' %}"
                                                       alt=""></div>
                            <div class="col-xs-7"><a href="#">Sergey Skabelkin<i class="icon-linkedin"></i></a><b>Strategic
                                product development advisor</b><span></span>
                                <p>Blockchain Evangelist, Co-founder of FinTechCluster, Mobile wallet and online service
                                    enterprise architect, CEO of playhall.io</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Azamat-Kurbanov.png' %}"
                                                       alt=""></div>
                            <div class="col-xs-7"><a href="#">Azamat Kurbanov<i class="icon-linkedin"></i></a><b>Marketing
                                advisor</b><span></span>
                                <p>Co-founder of telegraf.money who successfully led preICO worth $7 000 000. A
                                    self-starter and successful entrepreneur, more than 10 years experience on marketing
                                    and creating multimillion worth companies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Bagrinovski-Bogdan.png' %}"
                                                       alt=""></div>
                            <div class="col-xs-7"><a href="#">Bagrinovski Bogdan<i class="icon-linkedin"></i></a><b>Expert
                                in Blockchain Loterry</b><span></span>
                                <p>More then 10 year experience in Auction and Lottery business, creating brands like
                                    Intuitsia, Credsberry etc. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="advisors__block">
                        <div class="row">
                            <div class="col-xs-5"><img src="{% static 'landing/img/advisors/Bakhram-Fayzutdinov.png' %}"
                                                       alt=""></div>
                            <div class="col-xs-7"><a href="#">Bakhram Fayzutdinov<i class="icon-linkedin"></i></a><b>Mobile
                                product development and promotion advisor</b><span></span>
                                <p>Founder of Amayasoft company, head of MyBookTools technology development. More than
                                    10 years on programming, product management and business development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Team</h2><span>Unilot Team</span>
                    </div>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Ilya-Son.png' %}" alt="">
                    <p>Ilya Son<i class="icon-linkedin"></i></p><b>Founder</b><span></span></a></div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Alexander-Lushnikov.png' %}" alt="">
                    <p>Alexander Lushnikov<i class="icon-linkedin"></i></p><b>Smart contracts developer</b><span></span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Arseniy-Aganov.png' %}" alt="">
                    <p>Arseniy Aganov<i class="icon-linkedin"></i></p><b>Senior Android developer</b><span></span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Shovkat-Kukanbaev.png' %}" alt="">
                    <p>Shovkat Kukanbaev<i class="icon-linkedin"></i></p><b>UI/UX Designer</b><span></span></a></div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Darya-Kadirova.png' %}" alt="">
                    <p>Darya Kadirova<i class="icon-linkedin"></i></p><b>Marketing manager</b><span></span></a></div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Azat-Khuziyakhmetov.png' %}" alt="">
                    <p>Azat Khuziyakhmetov<i class="icon-linkedin"></i></p><b>Backend developer</b><span></span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Bakhodir-Ashirmatov.png' %}" alt="">
                    <p>Bakhodir Ashirmatov<i class="icon-linkedin"></i></p><b>Senior iOS developer</b><span></span></a>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img
                        src="{% static 'landing/img/team/Daniel-Khalupskiy.png' %}" alt="">
                    <p>Daniel Khalupskiy<i class="icon-linkedin"></i></p><b>PR</b><span></span></a></div>
            </div>
        </div>
    </section>
    <section class="faq" id="link3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>FAQ's</h2><span>FAQ's</span>
                    </div>
                </div>
                <div class="col-md-5">
                    {% for faq in faqs|slice:":6" %}
                    <div class="faq__block faq__block">
                        <a class="closed">{{ faq.question }}<i class="icon-chevron-thin-down"></i></a>
                        <div class="name">{{ faq.answer|safe_markdown }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-5 col-md-offset-1">
                    {% for faq in faqs|slice:"6:6" %}
                    <div class="faq__block faq__block">
                        <a class="closed">{{ faq.question }}<i class="icon-chevron-thin-down"></i></a>
                        <div class="name">{{ faq.answer|safe_markdown }}</div>
                    </div>
                    {% endfor %}
                    {% if faqs_total > 12 %}
                        <a class="btn">Show all FAQ topics</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="gray" id="publications">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>Publications</h2><span>Publications</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 flex-wrap">
                    <div class="thumbnail"><img src="{% static 'landing/img/publications/ibm.png' %}" alt="IBM">
                        <div class="caption">
                            <h3>IBM</h3>
                            <p>The company works in a partnership agreement with a number of leading legal companies of
                                Russia, Europe, the USA, and South Korea.</p>
                            <p><a class="btn btn-default" href="#" role="button">Read full</a></p>
                        </div>
                    </div>
                    <div class="thumbnail"><img src="{% static 'landing/img/publications/carlsberg.png' %}" alt="Carlsberg">
                        <div class="caption">
                            <h3>Carlsberg</h3>
                            <p>The company works in a partnership agreement with a number of leading legal companies of
                                Russia, Europe, the USA, and South Korea.</p>
                            <p><a class="btn btn-default" href="#" role="button">Read full</a></p>
                        </div>
                    </div>
                    <div class="thumbnail"><img src="{% static 'landing/img/publications/cisco.png' %}" alt="Cisco">
                        <div class="caption">
                            <h3>Cisco</h3>
                            <p>The company works in a partnership agreement with a number of leading legal companies of
                                Russia, Europe, the USA, and South Korea.</p>
                            <p><a class="btn btn-default" href="#" role="button">Read full</a></p>
                        </div>
                    </div>
                    <div class="thumbnail"><img src="{% static 'landing/img/publications/tele2.png' %}" alt="Tele2">
                        <div class="caption">
                            <h3>Tele2</h3>
                            <p>The company works in a partnership agreement with a number of leading legal companies of
                                Russia, Europe, the USA, and South Korea.</p>
                            <p><a class="btn btn-default" href="#" role="button">Read full</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white" id="partners">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12">
                    <h2>Partners</h2><span>Partners</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 flex-wrap">
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/ibm.png' %}" alt="IBM"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/carlsberg.png' %}" alt="Carlsberg"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/cisco.png' %}" alt="Cisco"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/tele2.png' %}" alt="Tele2"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/avaya.png' %}" alt="Avaya"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/hp.png' %}" alt="HP"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/microsoft.png' %}" alt="Microsoft"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/coca-cola.png' %}" alt="Coca-Cola"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/kcell.png' %}" alt="KCell"></div>
                    <div class="thumbnail"><img src="{% static 'landing/img/partners/beeline.png' %}" alt="Beeline"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading">
                        <h2>Subscribe</h2><span>Subscribe</span>
                    </div>
                    <form class="form">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <p>EMAIL</p>
                                <input type="email" name="email">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-block g-recaptcha"
                                        data-sitekey="6LcJyDwUAAAAAOHyF7J80mQFTYwXDLusskM8b-_d"
                                        data-size="invisible"
                                        style="border: none; padding-left: 1em; padding-right: 1em;">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__top">
                <div class="row center-xs">
                    <div class="col-sm-4 col-xs-12"><a href="{% github_organization %}"><i class="icon-github"></i>
                        <p class="git">GitHub</p></a></div>
                    <div class="col-sm-4 col-xs-12"><a href="{% telegram_channel %}"><i class="icon-telegram"></i>
                        <p>Telegram</p></a></div>
                    <div class="col-sm-4 col-xs-12"><a href="{% medium_blog %}"><i class="icon-medium"></i>
                        <p>Medium</p></a></div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="row start-sm center-xs">
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% reddit_url %}"><i
                            class="icon-reddit"></i>
                        <p>Reddit</p></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% twitter_channel %}"><i
                            class="icon-twitter"></i>
                        <p>Twitter</p></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% facebook_page %}"><i
                            class="icon-facebook"></i>
                        <p>Facebook</p></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% linkedin_company %}"><i
                            class="icon-linkedin2"></i>
                        <p>Linkedin</p></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% slack_channel %}"><i
                            class="medium"></i>
                        <p class="slack">Slack</p></a></div>
                    <div class="col-md-2 col-sm-4 col-xs-10 center-xs"><a href="{% youtube_channel %}"><i
                            class="icon-YouTube-2"></i>
                        <p>YouTube</p></a></div>
                </div>
            </div>
            <div class="footer__logo">
                <div class="row center-xs">
                    <div class="col-xs-12"><img src="{% static 'landing/img/logo.svg' %}" alt="">
                        <p>Unilot® 2017 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="{% static 'landing/js/main.min.js' %}"></script>
</body>
</html>
